@use "~/styles/colors";
@use "~/styles/helpers";
@import "~/styles/typography";

.page_title {
  text-transform: capitalize;
}

.container {
  background-color: colors.$darkgray;
  padding: 108px $navGutter_desktop 0 $navGutter_desktop;
  min-height: calc(100vh - 168px);

  @media screen and (max-width: $mq-mobile-max) {
    padding: 108px $navGutter_mobile 0 $navGutter_mobile;
  }
}

.text {
  width: 460px;
  padding-bottom: 20px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend .body_text;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0;
  }

  p {
    margin-bottom: 15px;
  }

  ul {
    margin: 15px 0;
    padding-left: 15px;

    li {
      @extend .body_text;
      list-style: none;
      position: relative;

      &:before {
        content: "- ";
        position: absolute;
        left: -13px;
      }
      &:last-of-type {
        padding-bottom: 15px;
        padding-left: 0;
        margin: 0;
      }
    }
  }

  .gradient_bottom {
    display: none;
    position: fixed;
    width: 100%;
    height: 120px;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(250, 250, 250, 0.8) 0%,
      rgba(250, 250, 250, 0) 78.12%
    );
    transform: rotate(180deg);
  }

  .gradient_top {
    position: fixed;
    width: 100%;
    height: 120px;
    top: 0;
    background: linear-gradient(
      180deg,
      rgba(250, 250, 250, 0.8) 0%,
      rgba(250, 250, 250, 0) 78.12%
    );
  }

  @media screen and (max-width: $mq-mobile-max) {
    width: 100%;
    font-size: 13px;
  }
}
