@import "~/styles/helpers";

.images {
  height: 640px;
  padding-left: $gutter_desktop;
  margin-top: 13px;

  &.small {
    height: 480px;
  }

  img,
  video {
    cursor: pointer;
    display: block;
    height: 100% !important;
    margin-right: 10px;
    width: auto !important;
  }

  @media screen and (max-width: $mq-mobile-max) {
    height: 240px;
    padding-left: $gutter_mobile;

    &.small {
      height: 240px;
    }

    img,
    video {
      margin-right: 5px;
    }
  }
}
