@import "./colors";
// @import "./helpers";
@import "./typography";

.custom_cursor {
  color: $white;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 150ms ease;
  transition-property: background-color, opacity, transform, mix-blend-mode;
  z-index: 9999;
  mix-blend-mode: difference;

  &.hidden {
    display: none;
  }
}
