@import "./colors";
// @import "./helpers";
@import "./typography";

.custom_cursor {
  color: $white;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 150ms ease;
  transition-property: background-color, opacity, transform, mix-blend-mode;
  z-index: 9999;
  // mix-blend-mode: difference;
  background-color: rgba(#505050, 0.5);
  border-radius: 20px;
  padding: 0px 8px;
  font-size: 10px;
  line-height: 1.8;

  &.hidden {
    display: none;
  }
}
