@import "../styles/colors";
@import "../styles/typography";

.footer {
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: $navGutter_desktop;

  @media screen and (max-width: $mq-mobile-max) {
    padding: 22px $navGutter_mobile 30px;
  }

  .contact {
    span {
      display: block;

      &.company {
        // text-transform: uppercase;
      }

      &.address {
        margin-bottom: 15px;
      }
    }

    .reachout {
      margin-bottom: 15px;

      b {
        display: inline-block;
        font-weight: normal;
        padding-right: 10px;
      }
    }

    .social {
      a {
        display: block;
      }
    }
  }

  .links {
    .extra {
      display: inline-block;
    }
    .copyright {
      display: inline-block;
      margin-left: 20px;

      @media screen and (max-width: $mq-mobile-max) {
        margin-top: 20px;
      }
    }
    a {
      margin-left: 20px;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  img {
    max-width: 100%;
  }

  @media screen and (max-width: $mq-mobile-max) {
    .links {
      margin-left: 0;
      margin-top: 15px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .extra {
        a {
          display: block;
          margin: 0;
        }
      }

      .copyright {
        // margin-bottom: 10px;
        margin-top: 0;
      }
    }
  }
}
