@import "~/styles/colors";
@import "~/styles/typography";

.footer {
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px $gutter_desktop 60px;
  width: 100%;

  &.essential {
    max-width: 100%;
  }

  .container {
    width: 75%;
  }

  .links {
    width: calc(25% - 7.5px);
  }

  .first_row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    width: 100%;

    .address,
    .reachout {
      display: block;
      width: 22%;
    }

    .reachout {
      span {
        display: block;
      }

      b {
        display: inline-block;
        font-weight: normal;
        padding-right: 10px;
      }
    }

    @media screen and (max-width: $mq-mobile-max) {
      margin-bottom: 20px;
      .address,
      .reachout {
        width: 50%;
      }

      // .reachout {
      //   text-align: right;
      // }
    }
  }

  .second_row {
    position: relative;
    width: 100%;

    .contact {
      display: flex;
      justify-content: flex-start;
      width: 100%;

      .social,
      .extra {
        display: block;
        width: 22%;
      }

      .social {
        a {
          display: block;
        }
      }

      .extra {
        display: inline-block;
      }

      @media screen and (max-width: $mq-mobile-max) {
        .social,
        .extra {
          width: 50%;
        }
      }
    }

    .links {
      position: absolute;
      right: 0;
      bottom: 0;

      .copyright {
        display: inline-block;
        margin-left: 20px;
      }
      a {
        margin-left: 20px;

        &:first-of-type {
          margin-left: 0;
        }
      }

      @media screen and (max-width: $mq-mobile-max) {
        position: relative;
        display: block;
        width: 100%;
        margin-left: 0;
        padding-left: 0;

        .copyright {
          margin: 20px 0 0;
        }
      }
    }

    img {
      max-width: 100%;
    }
  }

  @media screen and (min-width: $mq-tablet-min) and (max-width: 1100px) {
    .first_row {
      .address,
      .reachout {
        width: calc($column_desktop * 3.5);
      }
    }

    .second_row {
      .contact {
        .social,
        .extra {
          width: calc($column_desktop * 3.5);
        }
      }
    }
  }

  @media screen and (max-width: $mq-mobile-max) {
    padding: 7px $gutter_mobile $gutter_mobile;
    max-width: 100%;
    flex-direction: column-reverse;

    .container {
      display: block;

      .first_row {
        display: block;

        .address {
          display: block;
          margin-bottom: 17px;
        }
      }

      .second_row {
        display: block;
        margin-top: 17px;

        .contact {
          display: block;
          margin-bottom: 17px;

          .social {
            display: block;
            margin-bottom: 17px;
          }
        }
      }
    }

    .links {
      display: block;
      width: 100%;
    }
  }
}
