@import "./colors";
@import "./helpers";

.image_slider_container {
  overflow: visible;
  position: relative;

  .next,
  .prev {
    top: calc(50% - 20px);
    position: absolute;
    background: white;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    z-index: 2;

    display: none;
  }

  .next {
    right: 10px;
  }

  .prev {
    left: 10px;
    transform: scale(-1);
  }
}

.image_row {
  display: flex;
  justify-content: flex-start;
  overflow: visible;

  .cover {
    // background-color: rgba(red, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    display: none;
  }

  figure {
    // border: 1px solid rgba(red, 0.2);
    cursor: pointer;
    flex-shrink: 0;
    width: 80%;
    margin-right: 60px;
    position: relative;

    &:last-of-type {
      margin-right: 0;
    }

    > div {
      position: unset !important;
    }

    @media screen and (max-width: $mq-mobile-max) {
      margin-right: 20px;
    }
  }
}

.controls {
  display: flex;
  justify-content: flex-end;
  padding-top: 6px;
  width: 80%;

  .slider_nav {
    margin-right: 5px;

    button {
      display: inline-block;

      &:first-of-type {
        margin-right: 10px;
      }
    }
  }

  .status {
    text-align: right;
    width: 40px;
  }
}
