@import "~/styles/colors";
@import "~/styles/helpers";
@import "~/styles/typography";

.site_loader {
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100vh;
  padding-top: 70px;

  .statement {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 $column_mobile 0;
    height: calc(100vh - 200px);

    h1 {
      font-size: 48px;
      line-height: 1.125;
      font-weight: normal;
      text-align: center;
      letter-spacing: -0.02em;
      max-width: 720px;

      .untitled {
        font-size: 46px;
      }

      .caslon {
        @include kingscaslon_regular;
      }
    }
  }
}
