@import "./colors";
@import "./helpers";
@import "./typography";

.project_viewer {
  height: calc(100% - 50px);
  width: 100%;

  a,
  button {
    color: $black;
  }

  @media (hover: none) {
    height: calc(var(--app-height) - 61px);
  }

  .next_container,
  .prev_container {
    height: 100%;
    // width: 50%;
    z-index: 1;
    width: calc($gutter_desktop - 40px);
  }

  .prev_btn,
  .next_btn {
    background: transparent;
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
    border: none;
    height: 100%;
    width: 100%;
  }

  .prev_btn {
    cursor: w-resize;
    background-position: center right;
  }

  .next_btn {
    cursor: e-resize;
    background-position: center left;
  }

  .image_array {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;

    li {
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;

      &.hidden {
        display: none;
      }

      &.current {
        display: block;
      }

      .image_container {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        height: 100%;
        padding: 0;
        position: relative;
        text-align: center;
        width: 100%;
        z-index: 2;

        .inner_bounds {
          position: relative;
          height: 100%;
          width: calc($gutter_desktop * 10);

          &.multiple {
            img {
              cursor: pointer;
            }
          }
        }

        &.image_container_video {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        @media screen and (max-width: $mq-mobile-max) {
          padding: 86px $gutter_mobile 50px;
        }
      }

      video {
        max-height: 100%;
        max-width: 100%;
        position: relative;
        z-index: 2;
      }
    }
  }
}
