@import "./colors";
@import "./typography";
@import "./helpers";

.fade_cover {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 500;
  transform: translateZ(0);
  backface-visibility: hidden;

  h1 {
    color: transparent;
  }

  .double_hide {
    background-color: $white;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
}

.container {
  height: -webkit-fill-available;
  min-height: 100vh;
  position: relative;

  .mobile_close {
    display: none;

    @media screen and (max-width: $mq-mobile-max) {
      display: block;
      position: fixed;
      right: $navGutter_mobile;
      top: 20px;
      z-index: 5;
    }
  }

  .main {
    height: 100vh;
    position: relative;
    z-index: 0;

    &.archive_item {
      padding-top: 50px;
    }

    .casestudy_container {
      padding: calc(100vh - 150px) 0 0;
      position: relative;

      .title_image {
        display: flex;
        height: 100vh;
        align-items: center;
        padding: 0 #{$gutter_desktop * 2};
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;

        &.four {
          padding: 0 #{$gutter_desktop * 4};
        }

        &.six {
          padding: 0 #{$gutter_desktop * 3};
        }

        &.eight {
          padding: 0 #{$gutter_desktop * 2};
        }

        &.ten {
          padding: 0 #{$gutter_desktop};
        }

        &.twelve {
          padding: 0;
        }

        @media screen and (max-width: $mq-mobile-max) {
          padding: 0 $gutter_mobile !important;
        }
      }

      .backup_text {
        @extend .casestudy_title;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
      }

      .casestudy_content {
        position: relative;
        z-index: 2;
      }

      .case_study_intro {
        padding: 0 #{$gutter_desktop * 2};
        margin-bottom: 0;
        width: 100%;

        &.eight {
          padding: 0 #{$gutter_desktop * 2};
        }

        &.ten {
          padding: 0 #{$gutter_desktop};
        }

        &.twelve {
          padding: 0;
        }

        &.gutters {
          padding: 0 $navGutter_desktop;
        }

        &.ultra {
          padding: 0 10px;
        }

        .support_image {
          display: block;
          width: 100%;
        }

        @media screen and (max-width: $mq-mobile-max) {
          padding: 0 $gutter_mobile;
        }
      }

      .lower_content {
        background-color: $white;

        &.vertical_default {
          padding-top: 180px;
        }

        &.vertical_ultra {
          padding-top: 10px;
        }

        &.thirty {
          padding-top: 30px;
        }

        &.one_twenty {
          padding-top: 120px;
        }

        &.vertical_none {
          padding-top: 0;
        }

        @media screen and (max-width: $mq-mobile-max) {
          padding-top: 80px !important;
        }
      }

      .single_image,
      .image_slider,
      .double_image,
      .text_block {
        // Vertical Spacing
        &.vertical_default {
          margin-bottom: 180px;

          @media screen and (max-width: $mq-mobile-max) {
            margin-bottom: 80px;
          }
        }

        &.column {
          margin-bottom: 120px;

          @media screen and (max-width: $mq-mobile-max) {
            margin-bottom: 60px;
          }
        }

        &.thirty {
          margin-bottom: $navGutter_desktop;

          @media screen and (max-width: $mq-mobile-max) {
            margin-bottom: $navGutter_mobile;
          }
        }

        &.vertical_ultra {
          margin-bottom: 10px;

          @media screen and (max-width: $mq-mobile-max) {
            margin-bottom: 10px;
          }
        }

        &.vertical_none {
          margin-bottom: 0;

          @media screen and (max-width: $mq-mobile-max) {
            margin-bottom: 0;
          }
        }

        &:last-of-type {
          margin-bottom: 0 !important;
        }
      }

      .text_block {
        padding: 0 #{$gutter_desktop * 3};
      }

      .double_image {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 $gutter_desktop;

        > div {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          figure {
            display: block;
            width: 100%;
          }
        }

        &.equal {
          > div {
            width: calc(50% - 60px);
          }
        }

        &.left,
        &.right {
          > div {
            width: 50%;
          }
        }

        &.left {
          > div:first-child {
            padding-right: 10%;
          }
        }

        &.right {
          > div:last-child {
            padding-left: 10%;
          }
        }

        @media screen and (max-width: $mq-mobile-max) {
          padding: 0 $gutter_mobile;

          &.equal,
          &.left,
          &.right {
            > div {
              padding: 0;
              width: 100%;

              &:last-child {
                padding-left: 0;
                padding-right: 0;
              }

              &:first-of-type {
                margin-bottom: 80px;
              }

              &.no_marg {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      .single_image {
        // Columns Width
        &.gutters {
          padding: 0 $navGutter_desktop;
        }
        &.ultra {
          padding: 0 10px;
        }
        &.twelve {
          padding: 0;
        }
        &.ten {
          padding: 0 $gutter_desktop;
        }
        &.eight {
          padding: 0 #{$gutter_desktop * 2};
        }
        &.six {
          padding: 0 #{$gutter_desktop * 3};
        }
        &.four {
          padding: 0 #{$gutter_desktop * 4};
        }

        @media screen and (max-width: $mq-mobile-max) {
          &.twelve {
            padding: 0;
          }

          &.ten,
          &.eight,
          &.six,
          &.four {
            padding: 0 $gutter_mobile;
          }
        }
      }

      .image_slider {
        display: block;
        padding: 0 $gutter_desktop;
        overflow: hidden;

        @media screen and (max-width: $mq-mobile-max) {
          padding: 0 $gutter_mobile;
        }
      }
    }

    .inner {
      // margin-top: 50px;
      height: calc(100vh - 50px);
      position: relative;

      @media screen and (max-width: $mq-mobile-max) {
        height: 100vh;
        height: calc(100vh - env(safe-area-inset-bottom));
      }

      .archive_footer {
        display: flex;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        .title,
        .spacer {
          width: calc($gutter_desktop * 5);
        }

        .title {
          padding-left: $navGutter_desktop;
          text-transform: uppercase;
        }

        .counter {
          text-align: center;
          width: calc($gutter_desktop * 2);
        }

        .spacer {
          padding-right: $navGutter_desktop;
        }
      }
    }
  }

  .archive {
    position: absolute;
    left: $navGutter_desktop;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    @media screen and (max-width: $mq-mobile-max) {
      top: $gutter_mobile;
      left: $gutter_mobile;
      transform: none;
    }
  }

  .info {
    position: absolute;
    right: $navGutter_desktop;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    .current_image {
      padding-right: 40px;
    }

    a {
      &:hover {
        cursor: pointer;
      }
    }

    .current_image {
      text-align: left;
    }

    @media screen and (max-width: $mq-mobile-max) {
      position: absolute;
      top: auto;
      bottom: $gutter_mobile;
      left: $gutter_mobile;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-start;
      transform: none;

      .current_image {
        position: absolute;
        bottom: 0px;
        left: 50%;
      }
    }
  }

  .project_footer {
    background-color: $white;
    border-top: 1px solid $platinum;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: {
      top: 22px;
      bottom: 0;
      left: $navGutter_desktop;
      right: $navGutter_desktop;
    }
    position: relative;
    width: 100%;
    z-index: 2;

    @media screen and (max-width: $mq-mobile-max) {
      flex-direction: column;
      justify-content: space-between;
      padding: {
        top: $gutter_mobile;
        bottom: 0;
        left: $gutter_mobile;
        right: $gutter_mobile;
      }
    }

    .back_nav {
      position: relative;
      padding-bottom: 20px;
      width: 100%;

      a {
        &:first-of-type {
          margin-right: 20px;
        }
      }

      @media screen and (max-width: $mq-mobile-max) {
        display: none;
      }
    }

    .title_and_description {
      padding-bottom: 20px;

      .inner_desc {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          @extend .body_text;
          text-transform: uppercase;
        }

        p {
          margin-bottom: 15px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

      @media screen and (max-width: $mq-mobile-max) {
        // padding-bottom: 0;
      }
    }

    .credits_and_download {
      .credits {
        padding-bottom: 20px;
      }
    }

    &.multi_item {
      @extend .body_text;

      .close_col,
      .multi_col {
        width: $gutter_desktop;
      }

      .title_and_description {
        width: 50%;

        .inner_desc {
          width: 60%;

          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            @extend .body_text;
          }

          @media screen and (max-width: $mq-mobile-max) {
            padding-bottom: 0;
            width: 100%;
          }
        }

        .title {
          @extend .body_text;
          text-transform: uppercase;
        }

        @media screen and (max-width: $mq-mobile-max) {
          padding-left: 0;
          width: 100%;

          .title {
            width: 100%;
          }
        }
      }

      .credits_and_download {
        display: flex;
        justify-content: space-between;
        width: 50%;
        line-height: 18px;

        .credits {
          @extend .body_text;

          line-height: 18px;
          width: 50%;

          .credit_title {
            text-transform: uppercase;
          }

          .credit {
            padding-bottom: 20px;

            a {
              text-decoration: underline;
            }
          }

          @media screen and (max-width: $mq-mobile-max) {
            padding-left: 0;
          }
        }

        .download {
          width: 50%;
          text-align: right;

          @media screen and (max-width: $mq-mobile-max) {
            display: none;
          }
        }

        @media screen and (max-width: $mq-mobile-max) {
          width: 100%;
          .credits {
            width: 100%;
            padding-left: 0;
          }
        }
      }

      .tags {
        padding-left: 25px;

        @media screen and (max-width: $mq-mobile-max) {
          display: none;
        }
      }

      .date {
        @extend .courier_label;
        margin-left: auto;
      }

      @media screen and (max-width: $mq-mobile-max) {
        &.multi_item {
          .date {
            display: none;
          }
        }

        &.single_item {
          .multi_col {
            display: none;
          }
        }
      }
    }

    &.archive_item {
      display: none;
    }
  }

  .password_wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .password_field {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      margin: {
        left: $gutter_desktop;
        right: $gutter_desktop;
      }
      padding: {
        top: 20px;
        bottom: 20px;
      }

      .text_input {
        border: none;
        appearance: none;
        background: none;

        &:focus {
          outline: none;
        }
      }

      .password_button {
        border: none;
        background: none;
      }
    }
  }

  .casestudy {
    display: flex;
    justify-content: space-between;
    margin: 0 $navGutter_desktop 0 $navGutter_desktop;
    padding-top: 20px;

    .top_right {
      justify-content: flex-end;

      button:last-of-type {
        margin-left: 20px;
      }
    }

    @media screen and (max-width: $mq-mobile-max) {
      display: none;
    }
  }
}
