@import "./colors";
@import "./helpers";
@import "./typography";

.container {
  padding-top: 55px;
}

.main {
  padding: 100px $gutter_desktop 20px;
  text-align: center;

  .title {
    @extend .heading_h1;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;

    span {
      display: block;
    }
  }
}
