@import "~/styles/colors";
@import "~/styles/helpers";
@import "~/styles/typography";

.container {
  background-color: $white;
  min-height: 100dvh;
  padding: 0;
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 175px;
  padding: 175px $gutter_desktop 0;

  article {
    max-width: 68%;
    margin-right: $column_desktop;
  }

  .stickynav {
    // display: none;
    display: block;
    top: 175px;
    position: sticky;
    // right: calc($column_desktop * 1.5);
    width: calc($column_desktop * 1.4);

    h5 {
      margin: 15px 0 0;

      &:first-of-type {
        margin-top: 0;
      }
    }

    p,
    a {
      @extend .m_type;
    }
  }

  .statement {
    margin-bottom: 94px;

    .textbox {
      // max-width: 68%;
    }

    p {
      @extend .xl_type;
      display: block;
    }

    .offering_link {
      @extend .l_type_mobile;
      margin-top: 30px;
      display: inline-block;
    }

    @media screen and (max-width: $mq-mobile-max) {
    }

    @media screen and (min-width: $mq-tablet-min) and (max-width: $mq-tablet-max) {
    }
  }

  .section {
    padding: 0 $gutter_desktop;

    .inner {
      border-bottom: 2px solid $black;
      padding: 20px 0 80px;
      display: flex;
      justify-content: space-between;

      .label {
      }

      .content {
        @extend .l_type;
        width: 75%;

        a,
        button {
          @extend .l_type;

          &:hover {
            color: $red;
            text-decoration: none;
          }
        }

        p {
          margin-bottom: 30px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }
      }
    }

    &:last-of-type {
      margin-bottom: 175px;

      .inner {
        border-bottom: none;
      }
    }

    &.newbusiness {
      .inner {
        border-top: 2px solid $black;
      }
    }

    &.founders {
      .inner .content {
        display: flex;
        justify-content: flex-start;

        .founder {
          span {
            display: block;
          }

          &:first-of-type {
            margin-right: 55px;
          }
        }
      }
    }

    &.socials {
      .inner .content {
        ul {
          margin-bottom: 30px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    &.clients {
      .inner {
        .content {
          ul {
            margin-top: 30px;

            li {
              a {
                &:hover {
                  color: $red;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: $mq-mobile-max) {
    }

    @media screen and (min-width: $mq-tablet-min) and (max-width: $mq-tablet-max) {
    }
  }

  @media screen and (max-width: $mq-mobile-max) {
  }
}
