@import "~/styles/colors";
@import "~/styles/helpers";
@import "~/styles/typography";

.container {
  padding: 0;

  a,
  button {
    color: $black;
  }

  .subtitle {
    @extend .subheading;
    display: block;
    margin-bottom: 20px;
  }

  @media screen and (max-width: $mq-mobile-max) {
    // padding-bottom: 55px;
  }
}

.main {
  padding-top: 49px;

  ul {
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;
  }

  .info_bar {
    border-bottom: 1px solid $black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    z-index: 5;

    .heading {
      display: none;
    }

    .subtitle {
      margin: 0;

      @media screen and (min-width: $mq-tablet-min) {
        color: $black;
      }
    }
  }

  .mobile_jump {
    display: none;
  }

  @media screen and (max-width: $mq-mobile-max) {
    // padding-top: 180px;

    .info_bar {
      height: auto;

      .heading {
        display: block;
        text-align: center;
      }

      .desktop {
        padding: 104px 0 111px;
      }
    }

    .mobile_jump {
      display: flex;
      justify-content: center;
      position: fixed;
      bottom: 25px;
      width: 100%;
      z-index: 5;

      .holder {
        display: flex;
        justify-content: center;
        background-color: rgba($yellow, 0.9);
        backdrop-filter: blur(5px);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        border-radius: 25px;
        padding: 17px 30px 19px;
      }

      button {
        display: inline-block;
        margin-right: 15px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .grid {
    display: flex;
    height: calc(100vh - 99px);

    .column {
      border-right: 1px solid $black;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 45px $navGutter_desktop;
      width: 25%;

      /* ===== Scrollbar CSS ===== */
      /* Firefox */

      // scrollbar-width: thin;
      scrollbar-color: transparent #ffffff;

      /* Chrome, Edge, and Safari */
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #ffffff;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $darkgray;
        background-color: transparent;
        border-radius: 10px;
        border: 3px solid #ffffff;
      }

      &::-webkit-scrollbar-button:start:increment {
        height: 45px;
        display: block;
        background: transparent;
      }

      &::-webkit-scrollbar-button:end:increment {
        height: 45px;
        display: block;
        background: transparent;
      }

      &:last-of-type {
        border-right: none;
      }

      p {
        margin-bottom: 20px;
      }

      li p {
        margin-bottom: 0;
      }

      &.about {
        .partner {
          margin-bottom: 20px;

          .name {
            display: block;
          }

          a {
            text-decoration: underline;

            &:hover {
              text-decoration: none;
            }
          }
        }

        &.mobile {
          display: none;
        }

        @media screen and (max-width: $mq-mobile-max) {
          &.mobile {
            display: block;
            padding: {
              left: 0;
              right: 0;
              bottom: 0;
            }

            border-bottom: none;
          }

          &.desktop {
            display: none;
          }
        }
      }

      &.offering {
        @media screen and (min-width: $mq-tablet-min) {
          padding-bottom: 20px;

          .clients_collabs {
            ul {
              margin-bottom: 0;
            }
          }

          .clients_cases {
            margin-top: 45px;

            .case_study {
              a {
                text-decoration: underline;

                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }

      &.contact {
        .contact_field {
          line-height: 1.5;

          span {
            display: inline-block;
            padding-right: 20px;
          }

          p {
            display: inline-block;
            margin-bottom: 0;
          }
        }

        .contact_collab {
          margin-top: 40px;
        }
      }

      &.editions {
        p {
          margin-bottom: 20px;
        }

        a {
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .clients_collabs {
        // margin-top: 40px;
      }
    }

    @media screen and (max-width: $mq-mobile-max) {
      display: block;
      height: auto;

      .column {
        // border-bottom: 1px solid $black;
        border-right: none;
        padding: 12px $navGutter_mobile 80px;
        width: 100%;
        position: relative;

        &:after {
          position: absolute;
          bottom: 0;
          content: "";
          left: $navGutter_mobile;
          width: calc(100% - #{$navGutter_mobile} * 2);
          height: 1px;
          background-color: $black;
        }

        &.about.mobile {
          &:after {
            display: none;
          }
        }

        .clients_collabs {
          // border-top: 1px solid $black;
          // padding-top: 10px;
          // margin-top: 80px;
        }
      }
    }
  }

  .minifooter {
    position: fixed;
    bottom: 20px;
    left: 20px;

    a {
      display: inline-block;

      &:first-of-type {
        margin-right: 20px;
      }
    }

    @media screen and (max-width: $mq-mobile-max) {
      display: none;
      position: relative;
      width: 100%;
      bottom: auto;
      left: auto;
      padding: 12px $navGutter_mobile 0;
    }
  }

  .mobilefooter {
    display: none;

    @media screen and (max-width: $mq-mobile-max) {
      display: block;
    }
  }
}
