@import "~/styles/colors";
@import "~/styles/helpers";
@import "~/styles/typography";

.container {
  background-color: $blue;
  min-height: 100dvh;
  padding: 0;
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 175px;
  padding: 175px $gutter_desktop 0;
  overflow-x: hidden;

  @media screen and (max-width: $mq-mobile-max) {
    padding: 158px $gutter_mobile 0;
  }

  article {
    max-width: 68%;
    margin-right: $column_desktop;
  }

  .stickynav {
    // display: none;
    display: block;
    top: 175px;
    position: sticky;
    // right: calc($column_desktop * 1.5);
    width: calc($column_desktop * 1.4);

    h5 {
      @extend .m_type;
      margin: 15px 0 0;

      &:first-of-type {
        margin-top: 0;
      }
    }

    p,
    a {
      @extend .m_type;
    }

    a,
    button {
      cursor: pointer;

      &:hover {
        text-decoration: none;
        color: $red;
      }
    }
  }

  .statement {
    margin-bottom: 94px;

    .textbox {
      // max-width: 68%;
    }

    p {
      @extend .xl_type;
      display: block;
    }

    .offering_link {
      @extend .l_type_mobile;
      margin-top: 30px;
      display: inline-block;
    }

    @media screen and (max-width: $mq-mobile-max) {
      padding: 0;
      margin-bottom: 100px;
    }

    @media screen and (min-width: $mq-tablet-min) and (max-width: $mq-tablet-max) {
    }
  }

  .section {
    padding: 0;

    .inner {
      border-bottom: 2px solid $black;
      padding: 20px 0 80px;
      display: flex;
      justify-content: space-between;

      .label {
      }

      .content {
        @extend .l_type;
        width: 75%;

        a,
        button {
          @extend .l_type;

          &:hover {
            color: $red;
            text-decoration: none;
          }
        }

        p {
          margin-bottom: 30px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }

        .cta {
          display: inline-block;
          margin-top: 20px;
        }
      }
    }

    &:last-of-type {
      margin-bottom: 175px;

      .inner {
        border-bottom: none;
      }

      @media screen and (max-width: $mq-mobile-max) {
        margin-bottom: 0px;
      }
    }

    &.newbusiness {
      .inner {
        border-top: 2px solid $black;
      }
    }

    &.founders {
      .inner .content {
        display: flex;
        justify-content: flex-start;

        .founder {
          span {
            display: block;
          }

          &:first-of-type {
            margin-right: 55px;
          }
        }
        @media screen and (max-width: $mq-mobile-max) {
          display: block;

          .founder {
            &:first-of-type {
              margin-bottom: 20px;
            }
          }
        }
      }
    }

    &.socials {
      .inner .content {
        ul {
          margin-bottom: 30px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    &.clients {
      .inner {
        .content {
          ul {
            margin-top: 30px;

            li {
              a {
                &:hover {
                  color: $red;
                  text-decoration: none;
                }
              }
            }

            @media screen and (max-width: $mq-mobile-max) {
              display: flex;
              flex-wrap: wrap;

              li {
                width: calc(
                  50% - 20px
                ); /* 50% width for each column, minus half of the gap */
                margin-right: 20px; /* Adjust the gap between items */
                // margin-bottom: 20px; /* Adjust the vertical gap between items */
              }
              li:last-child {
                margin-right: 0; /* Remove margin for the last item in each row */
              }

              li,
              a {
                @include body_text;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: $mq-mobile-max) {
      .inner {
        display: block;
        padding: 20px 0 60px;

        .label {
          display: inline-block;
          margin-bottom: 20px;
        }

        .content {
          width: 100%;
        }
      }
    }

    @media screen and (min-width: $mq-tablet-min) and (max-width: $mq-tablet-max) {
    }
  }

  @media screen and (max-width: $mq-mobile-max) {
    padding: 175px $gutter_mobile 0;

    article {
      max-width: 100%;
      margin-right: 0;
      width: 100%;
    }

    .stickynav {
      display: none;
    }
  }
}
