@import "./colors";
@import "./helpers";
@import "./typography";

.container {
  a,
  button {
    color: $black;
  }
}

.main {
  padding: 49px 0 0;
  position: relative;

  @media screen and (max-width: $mq-mobile-max) {
    padding: 0 0 0;
  }

  .statement {
    height: auto;
    padding: 95px $navGutter_desktop 0;

    &__copy {
      margin-bottom: 24px;
      max-width: 460px;
    }

    &__caps {
      display: block;
    }

    ul {
      display: flex;
      justify-content: flex-start;
      margin: 0;
      list-style: none;
      padding: 0;

      li {
        &:first-of-type {
          margin-right: 20px;
        }

        a,
        button {
          @extend .obvs_link;
        }
      }
    }

    .divider {
      border-bottom: 1px solid $black;
      margin: 100px 0 0;
      width: 100%;
    }

    @media screen and (max-width: $mq-mobile-max) {
      // margin-bottom: 100px;
      padding: 110px $navGutter_mobile 0;

      .divider {
        margin: 80px 0 0;
      }
    }

    @media screen and (min-width: $mq-tablet-min) and (max-width: $mq-tablet-max) {
    }
  }

  .marquee_section {
    border: {
      top: 1px solid $black;
      bottom: 1px solid $black;
    }
    margin: 0;
    padding: 4px 0 5px;

    // @media screen and (min-width: $mq-tablet-min) and (max-width: $mq-tablet-max) {
    //   margin: 77px 0 80px;
    // }

    @media screen and (max-width: $mq-mobile-max) {
      // margin: 60px 0;
      padding: 10px 0;
    }
  }

  .select_section {
    header {
      .select_header {
        margin-bottom: 132px;
        padding: 0 50px;

        h2 {
          span {
            @include kingscaslon_italic;
            font-size: 46px;
            display: block;
            line-height: 1.26;

            &:first-of-type {
              font-style: normal;
            }
            &:last-of-type {
              font-style: italic;
            }
          }
        }

        @media screen and (min-width: $mq-tablet-min) and (max-width: $mq-tablet-max) {
          margin-bottom: 91px;

          h2 {
            span {
              font-size: 36px;
            }
          }
        }

        @media screen and (max-width: $mq-mobile-max) {
          padding: 0 $navGutter_mobile;
          margin-bottom: 70px;

          h2 {
            span {
              @include kingscaslon_italic;
              font-size: 32px;
              display: block;
              line-height: 36px;

              em {
                display: none;
              }
            }
          }
        }
      }

      .cap_heading {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 $navGutter_desktop 10px;

        @media screen and (max-width: $mq-mobile-max) {
          padding: 0 $navGutter_mobile 10px;
        }
      }

      .left {
        // font-size: 20px;
        // line-height: 1.4;

        span {
          display: inline-block;
          text-transform: none;

          em {
            font-style: normal;

            &.desktop_txt {
              display: inline;
            }

            &.mobile_txt {
              display: none;
            }
          }
        }

        .caslon {
          @include kingscaslon_italic;
          margin-right: 17px;
        }

        .untitled {
          font-family: $untitled_sans;
        }
      }
    }

    @media screen and (max-width: $mq-mobile-max) {
      header {
        .left {
          font-size: 13px;

          span em {
            &.desktop_txt {
              display: none;
            }

            &.mobile_txt {
              display: inline;
            }
          }
        }

        .right {
          display: none;
        }
      }
    }
  }

  .featured_section {
    padding-bottom: 50px;

    @media screen and (max-width: $mq-mobile-max) {
      // padding-bottom: 0;
    }

    section.feature {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 30px $navGutter_desktop 0;
      // margin-bottom: 50px;
      position: relative;

      &:last-of-type {
        .divider {
          display: none;
        }
      }

      @media screen and (max-width: $mq-mobile-max) {
        padding: 10px $navGutter_mobile 0;
      }

      .divider {
        border-bottom: 1px solid $black;
        margin: 50px 0 0;
        width: 100%;
      }

      .media_container {
        @include aspect-ratio(3, 2);
        position: relative;
        // overflow: hidden;

        &.eight_col {
          width: calc($gutter_desktop * 7.5);
        }

        &.seven_col {
          width: calc($gutter_desktop * 6);
        }

        &.square {
          @include aspect-ratio(1, 1);
          width: 42%;

          .inner {
            // padding-right: $navGutter_desktop * 2;
          }
        }

        @media screen and (max-width: $mq-mobile-max) {
          &.eight_col,
          &.seven_col,
          &.square {
            width: 100%;
          }

          &.square {
            .inner {
              padding-right: 0;
            }
          }
        }

        .inner {
          // overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;

          &.link_style {
            cursor: pointer;
          }

          video {
            object-fit: cover;
            width: 100%;
          }
        }
      }

      .details {
        flex: 1;
        display: inline-block;
        padding: 0 $navGutter_desktop;
        max-width: 420px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .text {
          position: relative;
          top: -4.5px;

          .title {
            line-height: 1;
            text-transform: uppercase;
            position: relative;
          }

          .tags {
            @include kingscaslon_italic;
            display: block;
            padding-right: 10px;
            margin-top: 5px;
          }
        }

        .external_links_group {
          position: relative;
          bottom: -3px;

          .slide_count {
            display: inline-block;
            margin-right: 10px;
          }

          .external_link {
            display: inline-block;
            margin-right: 10px;
            text-decoration: underline;

            &:hover {
              text-decoration: none;
            }

            &:last-of-type {
              margin-right: 0;
            }
          }
        }

        @media screen and (min-width: $mq-tablet-min) and (max-width: $mq-tablet-max) {
        }

        @media screen and (max-width: $mq-mobile-max) {
          padding: 0;

          .tags,
          .title {
            display: block;
            width: 100%;
          }

          .title {
            margin-bottom: 4px;
          }

          .tags {
            display: none !important;
            padding-right: 0;
            margin-bottom: 5px;
          }

          .text {
            top: auto;
            margin-top: 10px;
          }

          .external_links_group {
            bottom: auto;
            margin-top: 15px;

            .slide_count {
              display: none;
            }
          }
        }
      }

      &.left {
        justify-content: flex-start;
        flex-direction: row;

        // .details {
        //   max-width: 420px;
        // }
      }
      &.right {
        flex-direction: row-reverse;
      }
      &.center {
        justify-content: flex-start;
        flex-direction: row;
      }
    }
  }

  section.double_image {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &.top {
      align-items: flex-start;
    }

    &.bottom {
      align-items: flex-end;
    }

    .image {
      position: relative;
      width: 50%;

      video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        // object-fit: contain;
      }

      // @media screen and (max-width: $mq-mobile-max) {
      //   flex: 0 0 100%;
      //   max-width: 100%;
      // }

      &.left {
      }

      &.right {
      }
    }

    &.gutter {
      padding: 0 $gutter_desktop;
    }

    &.no_gutter {
      padding: 0;
    }

    &.seven_five {
      .left {
        width: calc($gutter_desktop * 7);
      }

      .right {
        width: calc($gutter_desktop * 5);
      }
    }

    &.five_seven {
      .left {
        width: calc($gutter_desktop * 5);
      }

      .right {
        width: calc($gutter_desktop * 7);
      }
    }

    &.eight_four {
      .left {
        width: calc($gutter_desktop * 8);
      }

      .right {
        width: calc($gutter_desktop * 4);
      }
    }

    &.four_eight {
      .left {
        width: calc($gutter_desktop * 4);
      }

      .right {
        width: calc($gutter_desktop * 8);
      }
    }

    // @media screen and (max-width: $mq-mobile-max) {
    //   margin-bottom: 120px !important;

    //   &:last-of-type {
    //     margin-bottom: 0 !important;
    //   }
    // }
  }

  section.single_image {
    figure {
      padding: 0 #{$gutter_desktop * 2};

      // @media screen and (max-width: $mq-mobile-max) {
      //   padding: 0 $gutter_mobile;
      // }

      video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        // object-fit: contain;
      }

      &.full_bleed {
        padding: 0;
      }
    }
  }
}
