@import "~/styles/colors";
@import "~/styles/helpers";
@import "~/styles/typography";

.container {
  a,
  button {
    color: $black;
  }
}

.main {
  padding: 175px 0 0;
  position: relative;

  @media screen and (max-width: $mq-mobile-max) {
    padding: 158px 0 0;
  }

  .statement {
    padding: 0 $gutter_desktop;
    margin-bottom: 120px;

    .textbox {
      max-width: 960px;
    }

    p {
      @extend .xl_type;
      display: inline;
    }

    .offering_link {
      @extend .s_type;
      display: inline-block;
      margin-left: 5px;
      text-wrap: nowrap;
    }

    @media screen and (max-width: $mq-mobile-max) {
      padding: 0 $gutter_mobile;
      margin-bottom: 100px;
    }

    @media screen and (min-width: $mq-tablet-min) and (max-width: $mq-tablet-max) {
    }
  }

  .projects {
    .project {
      margin-bottom: 180px;

      header {
        padding: 0 $gutter_desktop;

        h2 {
          @extend .m_type;
          display: inline-block;
          text-transform: uppercase;
        }

        .tags {
          @extend .s_type;
          margin: 0;
          padding: 0;
          list-style: none;
          display: inline-block;
          margin-left: 10px;

          li {
            display: inline-block;
            margin-right: 2px;
          }
        }

        button,
        a {
          @extend .s_type;
          display: inline-block;
        }

        .readmore {
          margin-left: 10px;
        }

        .reveal {
          // @extend .s_type;
          display: block;
          margin-top: 2px;

          p {
            max-width: calc($column_desktop * 5.5);
            margin-bottom: 5px;
          }

          a,
          button {
            margin-right: 10px;
          }
        }
      }

      @media screen and (max-width: $mq-mobile-max) {
        margin-bottom: 130px;

        header {
          h2 {
          }

          .tags {
            display: none;
          }

          .reveal {
            p {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
