@import "~/styles/colors";
@import "~/styles/helpers";
@import "~/styles/typography";

.container {
  background-color: $folder;
  min-height: 100dvh;
  padding: 0;
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 175px;
  padding: 175px $gutter_desktop 0;

  article {
    max-width: 68%;
    margin-right: $column_desktop;
  }

  .stickynav {
    // display: none;
    display: block;
    top: 175px;
    position: sticky;
    // right: calc($column_desktop * 1.5);
    width: calc($column_desktop * 1.4);

    h5 {
      @extend .m_type;
      cursor: pointer;
      margin: 15px 0 0;

      &:first-of-type {
        margin-top: 0;
      }
    }

    p,
    a {
      @extend .m_type;
    }

    h5,
    a,
    button {
      &:hover {
        text-decoration: none;
        color: $white;
      }
    }

    button {
      text-align: left;
      &.active {
        color: $white;
      }
    }
  }

  .statement {
    // padding: 0 $gutter_desktop;
    margin-bottom: 94px;

    p {
      @extend .xl_type;
      display: block;
    }

    .offering_link {
      @extend .l_type_mobile;
      margin-top: 30px;
      display: inline-block;
    }

    @media screen and (max-width: $mq-mobile-max) {
    }

    @media screen and (min-width: $mq-tablet-min) and (max-width: $mq-tablet-max) {
    }
  }

  .offerings {
    // padding: 0 0 0 $gutter_desktop;

    .offering {
      border-bottom: 2px solid $black;
      padding: 20px 0 80px;

      &.first {
        border-top: 2px solid $black;
      }

      h2,
      .description {
        @extend .xl_type;
      }

      h2 {
        color: $white;
      }

      .description {
        margin-bottom: 40px;
      }

      .examples {
        ul {
          margin: 0 0 40px 0;
          padding: 0;

          li {
            @extend .m_type;
            list-style: none;

            &:before {
              content: "→";
              display: inline-block;
              margin-right: 25px;
            }
          }
        }
      }

      .example_images {
        height: 160px;
        text-wrap: nowrap;

        img {
          display: inline-block;
          height: 100%;
          width: auto;
          margin-right: 6.67px;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }

  .ways_to_work {
    border-bottom: 2px solid $black;
    padding: 20px 0 40px;
    margin-bottom: 265px;

    .offering_link {
      @extend .l_type;
      margin-top: 60px;
      display: inline-block;
    }

    h3,
    .description {
      @extend .xl_type;
    }

    h3 {
      color: $white;
    }

    .description {
      margin-bottom: 60px;
    }

    .options {
      @extend .m_type;
      display: flex;
      justify-content: space-between;
      gap: 30px;

      h4 {
        color: $white;
      }
    }
  }

  @media screen and (max-width: $mq-mobile-max) {
  }
}
