@import "~/styles/colors";
@import "~/styles/helpers";
@import "~/styles/typography";

.container {
  background-color: $folder;
  min-height: 100dvh;
  padding: 0;
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 175px;
  padding: 175px $gutter_desktop 0;

  @media screen and (max-width: $mq-mobile-max) {
    padding: 158px $gutter_mobile 0;
  }

  article {
    // max-width: calc(100% - ($column_desktop + 300px));
    // margin-right: $column_desktop;
    overflow-x: hidden;
    width: 100%;

    @media screen and (min-width: $mq-tablet-min) and (max-width: $mq-tablet-max) {
      // max-width: calc(100% - ($column_desktop + 250px));
    }

    @media screen and (max-width: $mq-mobile-max) {
      max-width: 100%;
      margin-right: 0;
      width: 100%;
    }
  }

  .stickynav {
    display: block;
    top: 175px;
    position: sticky;
    // width: calc($column_desktop * 1.4);
    width: 200px;

    @media screen and (max-width: $mq-mobile-max) {
      display: none;
    }

    h5 {
      @extend .m_type;
      cursor: pointer;
      margin: 15px 0 0;

      &:first-of-type {
        margin-top: 0;
      }
    }

    p,
    a {
      @extend .m_type;
    }

    h5,
    a,
    button {
      &:hover {
        text-decoration: none;
        color: $white;
      }
    }

    button {
      text-align: left;
      &.active {
        color: $white;
      }
    }
  }

  .statement {
    // padding: 0 $gutter_desktop;
    margin-bottom: 96px;

    p {
      @extend .xl_type;
      display: block;
      max-width: 1020px;
    }

    @media screen and (max-width: $mq-mobile-max) {
      margin-bottom: 110px;
    }
  }

  .offerings {
    .offering {
      border-bottom: 2px solid $black;
      padding: 15px 0 0;
      cursor: pointer;

      &.first {
        border-top: 2px solid $black;
      }

      &.open {
        padding-bottom: 30px;
        transition: padding-bottom 0.5s cubic-bezier(0.5, 1, 0.89, 1);
      }

      &.closed {
        padding-bottom: 50px;
        transition: padding-bottom 0.5s cubic-bezier(0.5, 1, 0.89, 1);
      }

      h2,
      .description {
        @extend .l_type;

        @media screen and (max-width: $mq-mobile-max) {
          font-size: 20px;
        }
      }

      h2 {
        color: $white;
      }

      .description {
        margin-bottom: 20px;

        @media screen and (max-width: $mq-mobile-max) {
          margin-bottom: 12px;
        }
      }

      .examples {
        overflow: hidden;

        &.open {
          display: block;
          // padding-bottom: 30px;
        }

        &.closed {
          // padding-bottom: 50px;
        }

        ul {
          margin: 0 0 28px 0;
          padding: 0;

          li {
            @extend .m_type;
            list-style: none;

            &:before {
              content: "→";
              display: inline-block;
              margin-right: 25px;
            }
          }
        }

        @media screen and (max-width: $mq-mobile-max) {
          // margin-top: 20px;

          &.open {
            display: block;
            // padding-bottom: 10px;
          }

          &.closed {
            // padding-bottom: 0;
          }

          ul {
            margin-bottom: 15px;
          }
        }
      }

      .example_images {
        height: 140px;
        // padding-top: 22.5%;
        position: relative;
        overflow: hidden;

        .interior {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          overflow: hidden;
          width: 100%;
        }

        img {
          display: inline-block;
          height: 100%;
          width: auto;
          margin-right: 11px;

          &:last-of-type {
            margin-right: 0;
          }
        }

        @media screen and (max-width: $mq-mobile-max) {
          .interior {
            position: relative;
            overflow-x: auto; /* Enable horizontal scrolling */
            overflow-y: hidden;
            white-space: nowrap; /* Prevent wrapping */
            left: auto;
            top: auto;
            width: 100%;

            &::-webkit-scrollbar {
              display: none;
            }
          }
        }

        // @media screen and (min-width: 1360px) {
        //   padding-top: 0;
        //   height: 140px;
        // }
      }

      @media screen and (max-width: $mq-mobile-max) {
        padding: 10px 0 0;

        // &.open {
        //   padding-bottom: 20px;
        // }
      }
    }
  }

  .ways_to_work {
    border-bottom: 2px solid $black;
    padding: 20px 0 40px;
    margin-bottom: 25px;

    @media screen and (max-width: $mq-mobile-max) {
      padding-bottom: 20px;
      padding-top: 10px;
      margin-bottom: 0;
    }

    .offering_text {
      @extend .l_type;
      display: block;
      margin-top: 37px;

      .offering_link {
        @extend .l_type;
        display: inline-block;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }

      @media screen and (max-width: $mq-mobile-max) {
        margin-top: 20px;
      }
    }

    .offering_link {
    }

    h3,
    .description {
      @extend .l_type;

      @media screen and (max-width: $mq-mobile-max) {
        font-size: 20px;
      }
    }

    h3 {
      color: $white;
    }

    .description {
      margin-bottom: 30px;
    }

    .options {
      @extend .m_type;

      .option {
        margin-bottom: 20px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      h4 {
        color: $white;
      }
    }
  }

  .row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .label {
      width: calc(25% - 7.5px);
    }

    .center {
      min-width: 650px;
      width: calc($column_desktop * 6 - 7.5px);
    }

    .cta {
      margin-left: auto;

      button {
        @extend .s_type;
      }
    }

    @media screen and (max-width: 1025px) {
      .label {
        display: none;
      }
    }

    @media screen and (max-width: $mq-mobile-max) {
      display: block;
      position: relative;

      .label {
        display: none;
      }

      .center {
        min-width: auto;
        width: 100%;
      }

      .cta {
        margin-top: 0px;
        margin-bottom: 40px;
      }

      &.open {
        .cta {
          margin-bottom: 15px;
        }
      }
    }
  }
}
