@import "~/styles/colors";
@import "~/styles/helpers";
@import "~/styles/typography";

.container {
  background-color: $folder;
  min-height: 100dvh;
  padding: 0;
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 175px;
  padding: 175px $gutter_desktop 0;

  @media screen and (max-width: $mq-mobile-max) {
    padding: 158px $gutter_mobile 0;
  }

  article {
    // max-width: calc(100% - ($column_desktop + 300px));
    // margin-right: $column_desktop;
    overflow-x: hidden;
    width: 100%;

    @media screen and (min-width: $mq-tablet-min) and (max-width: $mq-tablet-max) {
      // max-width: calc(100% - ($column_desktop + 250px));
    }

    @media screen and (max-width: $mq-mobile-max) {
      max-width: 100%;
      margin-right: 0;
      width: 100%;
    }
  }

  .stickynav {
    display: block;
    top: 175px;
    position: sticky;
    // width: calc($column_desktop * 1.4);
    width: 200px;

    @media screen and (max-width: $mq-mobile-max) {
      display: none;
    }

    h5 {
      @extend .m_type;
      cursor: pointer;
      margin: 15px 0 0;

      &:first-of-type {
        margin-top: 0;
      }
    }

    p,
    a {
      @extend .m_type;
    }

    h5,
    a,
    button {
      &:hover {
        text-decoration: none;
        color: $white;
      }
    }

    button {
      text-align: left;
      &.active {
        color: $white;
      }
    }
  }

  .statement {
    // padding: 0 $gutter_desktop;
    margin-bottom: 96px;

    p {
      @extend .xl_type;
      display: block;
      max-width: 1020px;
    }

    .offering_link {
      @extend .l_type_mobile;
      margin-top: 30px;
      display: inline-block;
    }

    @media screen and (max-width: $mq-mobile-max) {
      margin-bottom: 100px;
    }
  }

  .offerings {
    .offering {
      border-bottom: 2px solid $black;
      padding: 15px 0 80px;
      cursor: pointer;

      &.first {
        border-top: 2px solid $black;
      }

      h2,
      .description {
        @extend .l_type;

        @media screen and (max-width: $mq-mobile-max) {
          font-size: 20px;
        }
      }

      h2 {
        color: $white;
      }

      .description {
        margin-bottom: 30px;

        @media screen and (max-width: $mq-mobile-max) {
          margin-bottom: 30px;
        }
      }

      .examples {
        &.open {
          display: block;
        }

        &.closed {
          display: none;
        }

        ul {
          margin: 0 0 30px 0;
          padding: 0;

          li {
            @extend .m_type;
            list-style: none;

            &:before {
              content: "→";
              display: inline-block;
              margin-right: 25px;
            }
          }
        }

        @media screen and (max-width: $mq-mobile-max) {
          ul {
            margin-bottom: 20px;
          }
        }
      }

      .example_images {
        // height: 140px;
        // height: 0.5%;
        max-height: 140px;
        padding-top: 22.5%;
        position: relative;
        overflow: hidden;
        // text-wrap: nowrap;

        .interior {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          overflow: hidden;
          width: 100%;
        }

        img {
          display: inline-block;
          height: 100%;
          width: auto;
          margin-right: 11px;

          &:last-of-type {
            margin-right: 0;
          }
        }

        @media screen and (max-width: $mq-mobile-max) {
          height: 80px;
          padding-top: 0;
        }

        @media screen and (min-width: 1360px) {
          padding-top: 0;
          height: 140px;
        }
      }

      &.open {
        padding-bottom: 30px;
      }

      &.closed {
        .description {
          margin-bottom: 0;
        }
      }

      @media screen and (max-width: $mq-mobile-max) {
        padding: 20px 0 40px;

        &.open {
          padding-bottom: 20px;
        }
      }
    }
  }

  .ways_to_work {
    border-bottom: 2px solid $black;
    padding: 20px 0 40px;
    margin-bottom: 80px;

    @media screen and (max-width: $mq-mobile-max) {
      padding-bottom: 20px;
      margin-bottom: 0;
    }

    .offering_link {
      @extend .m_type;
      margin-top: 60px;
      display: inline-block;

      @media screen and (max-width: $mq-mobile-max) {
        margin-top: 40px;

        font-size: 13px;
      }
    }

    h3,
    .description {
      @extend .l_type;

      @media screen and (max-width: $mq-mobile-max) {
        font-size: 20px;
      }
    }

    h3 {
      color: $white;
    }

    .description {
      margin-bottom: 30px;
    }

    .options {
      @extend .m_type;

      .option {
        margin-bottom: 20px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      h4 {
        color: $white;
      }
    }
  }

  .row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .label {
      width: calc(25% - 7.5px);
    }

    .center {
      min-width: 650px;
      width: calc($column_desktop * 6 - 7.5px);
    }

    .cta {
      margin-left: auto;

      button {
        @extend .s_type;
      }
    }

    @media screen and (max-width: 1025px) {
      .label {
        width: 5%;
      }
    }

    @media screen and (max-width: $mq-mobile-max) {
      .label {
        display: none;
      }

      .center {
        min-width: auto;
        width: calc(100% - 100px);
      }
    }
  }
}
