@use "~/styles/helpers";
@use "~/styles/typography";
@use "~/styles/colors";

.case_study_page {
  padding: 49px 0 30px;

  @media screen and (max-width: helpers.$mq-mobile-max) {
    &.carousel {
      overflow: hidden;
      padding: 0;
      height: 100vh;
      width: 100%;

      @supports (-webkit-touch-callout: none) {
        height: -webkit-fill-available;
        overflow: hidden;
      }
    }
  }
}

.intro {
  @include typography.body_text;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 95px helpers.$navGutter_desktop 118px;

  h1 {
    @include typography.body_text;
    text-transform: uppercase;
    width: 50%;
  }

  .description {
    width: calc(helpers.$gutter_desktop * 4);

    .ctas {
      margin: 20px 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        margin-right: 20px;

        button {
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: helpers.$mq-mobile-max) {
    display: none;
  }

  @media screen and (min-width: helpers.$mq-tablet-min) and (max-width: helpers.$mq-tablet-max) {
    padding: 53px helpers.$navGutter_desktop 80px;

    .description {
      width: 50%;
    }
  }
}

.mobile_intro {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 104px 0 111px;
  z-index: 5;
  position: relative;

  .heading {
    text-align: center;
    width: 100%;
  }

  .subtitle {
    @extend .subheading;
    display: block;
    margin-bottom: 20px;
  }

  @media screen and (max-width: helpers.$mq-mobile-max) {
    display: flex;

    &.carousel {
      display: none;
    }
  }
}

.main_content {
  .section {
    video {
      object-fit: cover;
      width: 100%;
    }

    &.fullscreen {
      margin-bottom: 120px;
      padding: {
        left: helpers.$navGutter_desktop;
        right: helpers.$navGutter_desktop;
      }

      @media screen and (max-width: helpers.$mq-mobile-max) {
        margin-bottom: helpers.$navGutter_mobile;
        padding: {
          left: helpers.$navGutter_mobile;
          right: helpers.$navGutter_mobile;
        }
      }
    }

    &.centered_image {
      display: flex;
      justify-content: center;
      margin-bottom: 120px;
      padding: {
        left: helpers.$navGutter_desktop;
        right: helpers.$navGutter_desktop;
      }

      figure {
        width: calc(helpers.$gutter_desktop * 9);
      }

      @media screen and (max-width: helpers.$mq-mobile-max) {
        margin-bottom: helpers.$navGutter_mobile;
        padding: {
          left: helpers.$navGutter_mobile;
          right: helpers.$navGutter_mobile;
        }
      }

      @media screen and (min-width: helpers.$mq-tablet-min) and (max-width: helpers.$mq-tablet-max) {
        figure {
          width: 75%;
        }
      }
    }

    &.image_with_text {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 120px;
      padding: {
        left: helpers.$navGutter_desktop;
        right: helpers.$navGutter_desktop;
      }

      &.left {
        flex-direction: row;

        .text {
          padding-left: helpers.$navGutter_desktop;
        }
      }

      &.right {
        flex-direction: row-reverse;

        .text {
          padding-right: helpers.$navGutter_desktop;
        }
      }

      .text {
        width: calc(helpers.$gutter_desktop * 3);
      }

      figure {
        width: calc(helpers.$gutter_desktop * 8);
      }

      @media screen and (max-width: helpers.$mq-mobile-max) {
        margin-bottom: helpers.$navGutter_mobile;
        padding: {
          left: helpers.$navGutter_mobile;
          right: helpers.$navGutter_mobile;
        }

        figure {
          width: 100%;
        }

        .text {
          display: none;
        }
      }

      @media screen and (min-width: helpers.$mq-tablet-min) and (max-width: helpers.$mq-tablet-max) {
        //tablet styles
        .text {
          width: 28%;
        }

        figure {
          width: calc(72% - 20px);
        }
      }
    }

    &.carousel {
      margin-bottom: 110px;

      @media screen and (max-width: helpers.$mq-mobile-max) {
        margin-bottom: helpers.$navGutter_mobile;
      }

      .carousel_slide {
        cursor: grab;
        padding: 0 10px;
        // height: 600px;

        &:active {
          cursor: grabbing;
        }
      }

      .controls {
        // background-color: purple;
        padding: 15px calc(22.4% + 10px) 0;

        @media screen and (max-width: helpers.$mq-mobile-max) {
          display: none;
        }

        @media screen and (min-width: helpers.$mq-mobile-max) and (max-width: 900px) {
          .caption {
            display: none;
          }
        }

        @media screen and (min-width: helpers.$mq-mobile-max) and (max-width: 999px) {
          padding: 15px calc(23.5% + 10px) 0;
        }

        @media screen and (min-width: 1000px) and (max-width: helpers.$mq-tablet-max) {
          padding: 15px calc(23% + 10px) 0;
        }

        .holder {
          // background-color: lightblue;
          display: flex;
          justify-content: space-between;

          .details {
            .numbers {
              margin-right: 20px;
            }
          }

          .arrows {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
              display: inline-block;
              margin-left: 10px;
            }
          }
        }
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    @media screen and (min-width: helpers.$mq-tablet-min) and (max-width: helpers.$mq-tablet-max) {
      &.carousel,
      &.fullscreen,
      &.centered_image,
      &.image_with_text {
        margin-bottom: 80px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  @media screen and (max-width: helpers.$mq-mobile-max) {
    &.carousel {
      display: none;
    }
  }
}

.mobile_slides {
  display: none;
  height: 100vh;
  padding: 0 helpers.$navGutter_mobile;
  position: relative;

  &.carousel {
    display: block;
  }

  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }

  .holder {
    position: absolute;
    top: calc(50% - 50px);
    // top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);

    div > div > div > div {
      height: 100%;
    }

    figure {
      @include helpers.aspect-ratio(4, 5);
      height: 100%;
      margin-right: 10px;

      .content {
        display: flex;
        align-items: center;
        height: 100%;
        padding: {
          left: helpers.$navGutter_mobile;
          right: helpers.$navGutter_mobile;
        }
      }

      img,
      video {
        height: auto;
        width: 100%;
      }
    }
  }

  @media screen and (min-width: helpers.$mq-tablet-min) {
    .carousel {
      display: none;
    }
  }
}

.credits_section {
  padding: {
    left: helpers.$navGutter_desktop;
    right: helpers.$navGutter_desktop;
    top: 25px;
  }

  .mobile_heading {
    display: none;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .description {
    margin-right: calc(helpers.$gutter_desktop * 2);
    width: calc(helpers.$gutter_desktop * 3.5);

    p {
      margin-bottom: 15px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .subtitle {
      @extend .subheading;
      display: none;
    }
  }

  .credits {
    width: calc(helpers.$gutter_desktop * 2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .img_download {
      display: inline-block;
      margin-top: 20px;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: auto;
    width: calc(helpers.$gutter_desktop * 3 - helpers.$navGutter_desktop);

    .next_project {
      display: inline-block;
      margin-top: 20px;
    }

    p {
      span {
        display: block;
      }
    }

    ul {
      margin: 30px 0 0;
      padding: 0;
      list-style: none;

      li {
        // display: inline-block;
        // margin-right: 20px;

        span {
          display: inline-block;
          padding-right: 10px;
        }
      }
    }
  }

  @media screen and (max-width: helpers.$mq-mobile-max) {
    &.full {
      border-top: 1px solid colors.$black;
      margin-top: 18px;
      padding: {
        left: helpers.$navGutter_mobile;
        right: helpers.$navGutter_mobile;
      }

      .description,
      .credits,
      .contact {
        width: 100%;
      }

      .description,
      .credits {
        margin-bottom: 40px;
      }

      .description {
        margin-right: 0;

        .subtitle {
          display: block;
          margin-bottom: 20px;
        }
      }
    }

    &.carousel {
      background-color: colors.$white;
      border-top: 1px solid colors.$black;
      padding: {
        left: 0;
        right: 0;
        top: 50px;
        bottom: 0;
      }
      overflow: hidden;
      position: fixed;
      left: 0;
      top: calc(100vh - 50px);
      width: 100%;
      height: calc(100vh - 48px);
      z-index: 5;

      @supports (-webkit-touch-callout: none) {
        height: -webkit-fill-available;
      }

      .container {
        overflow: hidden;
        padding: {
          left: helpers.$navGutter_mobile;
          right: helpers.$navGutter_mobile;
          bottom: 30px;
          top: 50px;
        }
      }

      &.open {
        .container {
          overflow-y: auto;
          overflow-x: hidden;
          height: 100%;
        }
      }

      .mobile_heading {
        align-items: center;
        background-color: colors.$white;
        display: flex;
        justify-content: space-between;
        padding: {
          left: helpers.$navGutter_mobile;
          right: helpers.$navGutter_mobile;
        }
        height: 50px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        .left {
          button {
            margin-left: 10px;
            text-decoration: underline;
          }
        }

        .right {
          button {
            text-decoration: underline;
          }
        }
      }

      .description,
      .credits,
      .contact {
        width: 100%;
      }

      .description,
      .credits {
        margin-bottom: 40px;
      }

      .description {
        margin-right: 0;

        .title {
          display: none;
        }
      }
    }
  }
}
