@import "~/styles/colors";
@import "~/styles/helpers";

.navigation {
  align-items: flex-start;
  background-color: $white;
  color: $black;
  // border-bottom: 1px solid $black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  left: 0;
  top: 0;
  padding: 17px 0 16.02px;
  position: fixed;
  width: 100%;
  z-index: 4;

  a,
  button {
    color: $black;
  }

  .top_left {
    display: flex;
    list-style: none;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: $navGutter_desktop;
    width: calc($gutter_desktop * 3);

    .link_box {
      display: flex;
      // padding-right: 50px;
      align-items: center;
      width: auto;

      a {
        display: flex;
        min-width: 150px;
      }

      @media screen and (max-width: $mq-mobile-max) {
        padding: 0px;
        width: 100%;
      }

      &:active {
        color: $black;
      }
    }

    .filter_button {
      min-width: 168px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .label {
        display: flex;
        justify-content: center;

        button {
          display: flex;
          background-color: transparent;
          border: none;
          display: inline;
          cursor: pointer;
          margin: 0;
          min-width: 140px;
          padding: 0;
          text-align: left;
          position: relative;
          top: 1px;

          &:active {
            color: $black;
          }

          &:hover {
            text-decoration: underline;
          }
        }

        .open {
          svg {
            transform: rotate(180deg);
          }
        }

        svg {
          display: inline-block;
          position: relative;
          top: -1px;
        }
      }

      @media screen and (max-width: $mq-mobile-max) {
        display: none;
      }
    }

    @media screen and (max-width: $mq-mobile-max) {
      padding-left: 0;
      width: 50%;
    }
  }

  .top_right {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: $navGutter_desktop;
    width: calc($gutter_desktop * 9);

    .archive_link {
      a {
        display: inline-block;
        margin-left: 20px;
      }

      .current {
        text-decoration: underline;
      }

      .show {
        opacity: 1;
        transition: opacity 0.3s ease-in;
      }

      .hide {
        opacity: 0;
        transition: opacity 0.3s ease-out;
      }
    }

    .controls {
      display: flex;

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-right: 15px;
      }

      @media screen and (max-width: $mq-mobile-max) {
        display: none;
      }
    }

    .desktop_nav {
      @media screen and (max-width: $mq-mobile-max) {
        display: none;
      }
    }

    .desktop_link {
      @media screen and (max-width: $mq-mobile-max) {
        display: none !important;
      }
    }

    .mobile_link {
      @media screen and (min-width: $mq-tablet-min) {
        display: none !important;
      }
    }

    .mobile_btn {
      &:hover {
        text-decoration: none;
      }
    }

    .count_link {
      display: flex;
      position: relative;
    }

    &.profile_right {
      justify-content: space-between;
      @media screen and (max-width: $mq-mobile-max) {
        justify-content: flex-end;
        .contact {
          display: none;
        }
      }
    }

    &.archive_right {
      justify-content: flex-end;
    }

    @media screen and (min-width: $mq-tablet-min) and (max-width: 1025px) {
      &.profile_right {
        justify-content: flex-end;
      }

      .archive {
        display: none;
      }
    }

    @media screen and (max-width: $mq-mobile-max) {
      padding-right: 0;
      width: 50%;

      .archive {
        display: none;
      }
    }
  }

  .mobile_nav {
    display: none;
    justify-content: flex-end;
    width: 100%;

    &.open {
      display: flex;
    }

    ul {
      list-style: none;
      padding: 0;
      text-align: right;

      li {
        margin-bottom: 13px;
        text-align: right;

        &:last-child {
          margin-bottom: 0;
        }

        a.current {
          text-decoration: underline;
        }
      }
    }

    @media screen and (min-width: $mq-tablet-min) {
      display: none;
    }
  }

  &.home {
    background-color: $white;
    color: $black;
    mix-blend-mode: normal;
    background: rgba($white, 0.96);
    backdrop-filter: blur(5px);

    // &.loading {
    //   top: calc(50vh - 49px);
    // }

    .animscreen {
      background: rgba($white, 0.96);
      backdrop-filter: blur(5px);
      height: 50vh;
      position: absolute;
      bottom: 100%;
      width: 100%;
    }

    .loading_bar {
      background-color: $red;
      height: 2px;
      width: 0%;
      position: absolute;
      top: 0;
      left: 0;
      transition: width 0.6s ease-out, opacity 0.3s ease-out;

      &.finished {
        opacity: 0;
      }
    }

    a,
    button {
      color: $black;

      .hide_mobile {
        @media screen and (max-width: $mq-mobile-max) {
          display: none;
        }
      }
    }

    // .top_right {
    //   text-align: right;
    // }
  }

  &.archive {
    background-color: transparent;
    color: $white;
    border-bottom: transparent solid 1px;

    a {
      color: $white;
    }

    .top_right {
      button {
        color: $white;
      }
    }

    .mobile_nav {
      color: $white;

      .top_right {
        color: $white;

        .mobile_link,
        button {
          color: $white;
        }
      }
    }
  }

  &.archive_loader {
    background-color: transparent;
    color: $white;
    border: 0;

    a,
    button {
      color: $white;
    }

    .top_left {
      width: 25%;
    }

    .archive_link {
      padding-right: $navGutter_desktop;
      text-align: right;
      width: 25%;
    }

    @media screen and (max-width: $mq-mobile-max) {
      // display: none;

      .top_left,
      .archive_link {
        width: 50%;
      }

      .archive_link {
        padding-right: 0;
      }

      .centered_text {
        position: fixed;
        top: 50%;
        width: 100%;
        text-align: center;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }

  &.archive_index {
    background-color: $white;
    border-bottom: 1px solid $black;
    mix-blend-mode: normal;

    a,
    button {
      color: $black;
    }

    .top_left {
      width: calc($gutter_desktop * 10);

      .link_box {
        width: calc(30% - 13px);
        min-width: 170px;
      }

      @media screen and (max-width: 1280px) {
        width: calc($gutter_desktop * 9);

        .link_box {
          width: 66.66666667%;
        }
      }
    }

    .top_right {
      justify-content: flex-end;
      align-items: flex-start;
      width: calc($gutter_desktop * 2);

      @media screen and (max-width: 1280px) {
        width: calc($gutter_desktop * 3);
      }
    }
  }

  &.archive_item {
    color: $black;
    mix-blend-mode: normal;

    a,
    button {
      color: $black;
    }

    .top_left {
      width: calc($gutter_desktop * 10);

      .link_box {
        width: calc(30% - 13px);
        min-width: 170px;
      }

      @media screen and (max-width: 1280px) {
        width: calc($gutter_desktop * 9);

        .link_box {
          width: 66.66666667%;
        }
      }

      @media screen and (max-width: $mq-mobile-max) {
        .title {
          display: none;
        }
      }
    }

    .top_right {
      justify-content: flex-end;
      align-items: flex-start;
      width: calc($gutter_desktop * 2);

      @media screen and (max-width: 1280px) {
        width: calc($gutter_desktop * 3);
      }
    }
  }

  &.casestudy {
    .top_left {
      .mobile_back {
        display: none;
      }
    }
    .top_right {
      justify-content: flex-end;

      button:last-of-type {
        margin-left: 20px;
      }
    }

    @media screen and (max-width: $mq-mobile-max) {
      background-color: transparent;
      border: none;

      .top_left {
        .link_box {
          display: none;
        }
        .mobile_back {
          display: flex;
          padding-right: 50px;
          align-items: center;
          width: auto;
          // height: 24px;
        }
      }

      button:first-of-type {
        display: none;
      }
    }
  }

  &.profile,
  &.essential_text_nav {
    background: rgba($white, 0.96);
    backdrop-filter: blur(5px);

    @media screen and (max-width: $mq-mobile-max) {
      border-bottom: 1px solid $black;
      mix-blend-mode: normal;

      a,
      button {
        color: $black;
      }

      .top_left,
      .top_right {
        width: 50%;
      }
    }
  }

  &.profile {
    color: $black;

    a,
    button {
      color: $black;
    }

    .top_left {
    }

    .top_right {
      justify-content: flex-start;

      .statement {
        margin-right: 7px;
        width: 33.33333333%;

        @media screen and (max-width: $mq-mobile-max) {
          display: none;
        }
      }

      .archive_link {
        margin-left: auto;
      }
    }
  }

  &.info {
    &:active {
      color: $black;
    }

    .latest {
      color: $red;
      margin-right: 5px;
    }
  }

  &.essential_text_nav {
    background-color: $darkgray;
    .top_right {
      justify-content: flex-end;
    }
  }

  .filter_container {
    padding: 0 $gutter_mobile 0 calc($gutter_desktop * 3);

    .tag_list {
      margin: 50px 0 0;
      display: none;
      max-width: 66.66666667%;
      padding: 0;
      list-style: none;
      width: 100%;

      &.tag_list_open {
        display: block;
      }

      li {
        display: inline-block;
        // line-height: 18px;
        // padding-bottom: 10px;

        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          padding: 0;
          text-align: left;

          &:active {
            color: $black;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }

      @media screen and (max-width: 1280px) {
        max-width: 83.33333333%;
      }

      @media screen and (max-width: $mq-mobile-max) {
        column-count: 2;
        column-gap: 0px;
        margin: 0 0 0 30px;
        width: 55%;
      }
    }
  }

  &.nonav {
    display: none;
  }

  @media screen and (max-width: $mq-mobile-max) {
    align-items: center;
    padding: 15px $navGutter_mobile 14px;
    border-bottom: 1px solid $black;
    background-color: $white;
  }
}
