$black: #000;
$white: #fff;
$grey: #e3e3e3;
$darkgray: #888888;
$folder: #bab18c;
$blue: #d2d9d3;
$green: #53b751;
$red: #ff5000;
$greygreen: #eff3e5;
$terracotta: #af3e22;
$yellow: #f4fa74;
$clay: #e0ddd5;
