// Nav
$navGutter_desktop: 20px;
$navGutter_mobile: 10px;

// Gutters
$gutter_desktop: 8.3333333333%;
$gutter_mobile: 20px;

// Breakpoints

$mq-mobile-max: 900px;
$mq-mobile-min: 400px;

$mq-tablet-min: 901px;
$mq-tablet-max: 1200px;

$mq-desktop-min: 1201px;
$mq-desktop-max: 1500px;

$mq-oversized: 1501px;
