// Nav
$gutter_desktop: 15px;
$gutter_mobile: 10px;

// Gutters
$column_desktop: 8.33333333333%;
$column_mobile: 20px;

// Breakpoints

$mq-mobile-max: 800px;
$mq-mobile-min: 400px;

$mq-tablet-min: 801px;
$mq-tablet-max: 1200px;

$mq-desktop-min: 1201px;
$mq-desktop-max: 1500px;

$mq-oversized: 1501px;

// aspect ratio calculation
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: calc($height / $width * 100%);
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

%bgcover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
