@import "./helpers";

@import url("https://use.typekit.net/byo6woz.css");

@font-face {
  font-family: "Futura No2 D";
  src: url("/fonts/FuturaNo2D-ExtBol.woff2") format("woff2"),
    url("/fonts/FuturaNo2D-ExtBol.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura No2 D";
  src: url("/fonts/FuturaNo2D-Bol.woff2") format("woff2"),
    url("/fonts/FuturaNo2D-Bol.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Untitled Sans";
  src: url("/fonts/UntitledSans-Regular.woff2") format("woff2"),
    url("/fonts/UntitledSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Untitled Sans";
  src: url("/fonts/UntitledSans-RegularItalic.woff2") format("woff2"),
    url("/fonts/UntitledSans-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Courier Prime";
  src: url("/fonts/CourierPrime-Regular.woff2") format("woff2"),
    url("/fonts/CourierPrime-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gerstner Programm";
  src: url("/fonts/GerstnerProgramm-Regular.woff2") format("woff2"),
    url("/fonts/GerstnerProgramm-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gerstner Programm";
  src: url("/fonts/GerstnerProgramm-Italic.woff2") format("woff2"),
    url("/fonts/GerstnerProgramm-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@mixin kingscaslon_regular {
  font-family: kings-caslon, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin kingscaslon_italic {
  font-family: kings-caslon, sans-serif;
  font-weight: 400;
  font-style: italic;
}

$futura: "Futura No2 D";
$untitled_sans: "Untitled Sans";
$courier: "Courier Prime";
$gerstner: "Gerstner Programm", sans-serif;

.heading_h1,
.heading_h2,
.heading_h3,
.heading_h4,
.heading_h5,
.heading_h6 {
  font-family: $untitled_sans;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.heading_h1 {
  font-family: $untitled_sans;
  font-size: 46px;
  line-height: 1.208;

  @media screen and (min-width: $mq-tablet-min) and (max-width: $mq-tablet-max) {
    font-size: 34px;
    line-height: 36px;
  }

  @media screen and (max-width: $mq-mobile-max) {
    font-size: 30px;
    line-height: 1;
  }
}

.casestudy_title {
  font-family: $futura;
  font-size: 96px;
  font-weight: 700;
  line-height: 1;

  @media screen and (max-width: $mq-mobile-max) {
    font-size: 65px;
  }
}

.body_text {
  font-size: 13px;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media screen and (max-width: $mq-mobile-max) {
    line-height: 17px;
  }
}

.untitled_caps {
  @extend .body_text;
  font-family: $untitled_sans;
  font-weight: normal;
  text-transform: uppercase;
}

.courier_label {
  font-family: $courier;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.125;
}
