@import "./helpers";
@import "./colors";

@font-face {
  font-family: "Gerstner Programm";
  src: url("/fonts/GerstnerProgramm-BoldItalic.woff2") format("woff2"),
    url("/fonts/GerstnerProgramm-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gerstner Programm";
  src: url("/fonts/GerstnerProgramm-Bold.woff2") format("woff2"),
    url("/fonts/GerstnerProgramm-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

$gerstner: "Gerstner Programm", sans-serif;

.heading_h1,
.heading_h2,
.heading_h3,
.heading_h4,
.heading_h5,
.heading_h6,
.heading {
  font-family: $gerstner, Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.xl_type {
  font-family: $gerstner, Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 1;

  @media screen and (max-width: $mq-mobile-max) {
    font-size: 26px;
  }
}

.l_type {
  font-family: $gerstner, Arial, Helvetica, sans-serif;
  font-size: 26px;
  line-height: 1;

  @media screen and (max-width: $mq-mobile-max) {
    font-size: 20px;
  }
}

.m_type {
  font-family: $gerstner, Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.307;
}

.s_type {
  font-family: $gerstner, Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 1.2;
}

.l_type_mobile {
  font-family: $gerstner, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1;
}

.body_text {
  @extend .m_type;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "case" on;

  @media screen and (max-width: $mq-mobile-max) {
    // line-height: 17px;
  }
}

@mixin body_text {
  font-family: $gerstner, Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.307;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media screen and (max-width: $mq-mobile-max) {
    // line-height: 17px;
  }
}
