@import "./colors";
@import "./helpers";
@import "./typography";

.container {
  padding: 0 0 0;
}

.loader_section {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;

  .left_side,
  .right_side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

    p {
      color: $white;
      font-size: 34px;
      margin: 0;
      padding: 0;
      letter-spacing: -0.02em;
      text-align: center;

      span {
        display: block;
      }
    }
  }

  .left_side {
    background-color: lightblue;
  }

  .right_side {
    background-color: lightcoral;
  }
}

.archive_header {
  display: block;
  padding: 217px $navGutter_desktop 189px;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1;

  p {
    max-width: 40%;
  }

  @media screen and (max-width: $mq-mobile-max) {
    padding: 180px $navGutter_mobile 100px;

    p {
      max-width: none;
    }
  }
}

.main {
  min-height: calc(100vh - 125px);
  position: relative;
  z-index: 2;

  @media screen and (max-width: $mq-mobile-max) {
    min-height: calc(100vh - 154px);
  }

  .interior {
    background-color: $alabaster;
    padding-bottom: 40px;

    @media screen and (max-width: $mq-mobile-min) {
      padding-bottom: 0;
    }

    @media screen and (min-width: $mq-mobile-min) and (max-width: $mq-mobile-max) {
      padding-bottom: 0;
    }
  }

  .all_archives {
    ul {
      border-top: 1px solid $platinum;
      border-bottom: 1px solid $platinum;
      margin: 0;
      padding: 0;

      li {
        border-bottom: 1px solid $platinum;
        list-style: none;
        font-size: 13px;

        &:last-of-type {
          border-bottom: none;
        }

        a,
        .coming_soon {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          padding: 18px 0 38px;
          position: relative;

          @media screen and (max-width: $mq-mobile-max) {
            padding: 20px 0;
          }

          .coming_text {
            display: none;
            justify-content: flex-start;
            align-items: flex-start;
            position: absolute;
            left: 20px;
            top: 22px;
            font-family: $futura;
            font-size: 14px;
            font-weight: 700;
            line-height: 1;
            text-transform: uppercase;
          }

          .name {
            padding: {
              left: $navGutter_desktop;
              right: $navGutter_desktop;
            }
            text-transform: uppercase;
            width: calc($gutter_desktop * 3);

            @media screen and (max-width: $mq-mobile-max) {
              width: calc(100% - 40px);
            }
          }

          .tags {
            width: calc($gutter_desktop * 3);

            @media screen and (max-width: $mq-mobile-max) {
              display: none;
            }
          }

          .date {
            @extend .courier_label;
            display: flex;
            justify-content: space-between;
            width: calc($gutter_desktop * 2);

            @media screen and (max-width: $mq-mobile-max) {
              justify-content: flex-end;
              padding: {
                right: $gutter_mobile;
              }
            }
          }

          .thumbnail {
            width: calc($gutter_desktop * 2);
            padding: 0 40px;
          }

          @media screen and (max-width: $mq-mobile-max) {
            padding: {
              left: $gutter_mobile;
            }
          }
        }

        .coming_soon {
          cursor: not-allowed;

          &:hover {
            .name {
              opacity: 0;
            }
            .coming_text {
              display: flex;

              @media screen and (max-width: $mq-mobile-max) {
                width: 65%;
              }
            }
          }
        }

        .coming_soon {
          .view_project {
            opacity: 0;
            padding-right: $navGutter_desktop;
            text-align: right;
          }
        }

        a {
          .view_project {
            font-family: $untitled_sans;
            font-size: 12px;
            opacity: 0;
            padding-right: $navGutter_desktop;
            text-align: right;
            width: calc($gutter_desktop * 2);
          }
          &:hover {
            text-decoration: nonegit;

            .view_project {
              display: block;
              opacity: 1;

              @media screen and (max-width: $mq-mobile-max) {
                display: none;
              }
            }
          }
        }
      }

      .no_items {
        padding: 19px 20px 17px;
      }
    }
  }
}

.main.grid {
  padding: 450px $navGutter_desktop 20px;

  @media screen and (max-width: $mq-mobile-min) {
    padding: 340px $gutter_mobile 20px;
  }

  @media screen and (min-width: $mq-mobile-min) and (max-width: $mq-mobile-max) {
    padding: 370px $gutter_mobile 20px;
  }

  .all_archives_grid {
    .grid_item {
      margin: 0;
      padding: {
        bottom: 20px;
      }

      @media screen and (max-width: $mq-mobile-max) {
        padding: {
          bottom: 20px;
        }
      }

      .coming_soon {
        cursor: not-allowed;

        &:hover {
          opacity: 0.8;
        }
      }

      a {
        display: flex;
        margin: 0;
        padding: 0;
      }
    }

    img {
      margin: 0;
      width: 100%;
      height: auto;
    }
  }
}

.filter_bar {
  background-color: $alabaster;
  border-bottom: 1px solid $black;
  display: flex;
  left: 0;
  padding: 19px $navGutter_desktop 17px;
  position: fixed;
  top: 56px;
  width: 100%;
  z-index: 3;

  @media screen and (max-width: $mq-mobile-max) {
    padding: 20px $navGutter_mobile 14px;
  }

  .label {
    button {
      background-color: transparent;
      border: none;
      display: inline;
      cursor: pointer;
      line-height: 2;
      margin: 0;
      padding: 0;
      text-align: left;

      &:active {
        color: $black;
      }

      &:hover {
        text-decoration: underline;
      }
    }
    .open {
      svg {
        transform: rotate(180deg);
      }
    }

    svg {
      display: inline-block;
      position: relative;
      top: -2px;
    }
  }

  .controls {
    margin-left: auto;

    &.controls_open {
      @media screen and (max-width: $mq-mobile-max) {
        display: none;
      }
    }

    button {
      @extend .untitled_caps;
      background-color: transparent;
      border: none;
      cursor: pointer;
      line-height: 2;
      margin: 0 0 0 25px;
      padding: 0;

      &:active {
        color: $black;
      }

      &:first-of-type {
        margin-left: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
