@import "./colors";
@import "./helpers";
@import "./typography";

.container {
  padding: 0 0 0;
}

.title_holder {
  display: block;
  padding: 150px 0 110px;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1;

  &.four {
    padding: 150px #{$gutter_desktop * 4} 110px;
  }

  &.six {
    padding: 150px #{$gutter_desktop * 3} 110px;
  }

  &.eight {
    padding: 150px #{$gutter_desktop * 2} 110px;
  }

  &.ten {
    padding: 150px #{$gutter_desktop} 110px;
  }

  &.twelve {
    padding: 150px 0 110px;
  }

  &.gutters {
    padding: 150px $navGutter_desktop 110px;
  }

  @media screen and (max-width: $mq-mobile-max) {
    padding: 200px 11% 100px !important;
  }
}

.title {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;

  svg {
    width: 100%;
  }

  .desktop_art {
    display: block !important;
  }

  .mobile_art {
    display: none !important;
  }

  @media screen and (max-width: $mq-mobile-max) {
    .desktop_art {
      display: none !important;
    }

    .mobile_art {
      display: block !important;
    }
  }
}

.main {
  min-height: calc(100vh - 125px);
  position: relative;
  z-index: 2;

  @media screen and (max-width: $mq-mobile-max) {
    min-height: calc(100vh - 154px);
  }

  .interior {
    background-color: $alabaster;
    padding-bottom: 40px;

    @media screen and (max-width: $mq-mobile-min) {
      padding-bottom: 0;
    }

    @media screen and (min-width: $mq-mobile-min) and (max-width: $mq-mobile-max) {
      padding-bottom: 0;
    }
  }

  .all_archives {
    ul {
      border-top: 1px solid $platinum;
      border-bottom: 1px solid $platinum;
      margin: 0;
      padding: 0;

      li {
        border-bottom: 1px solid $platinum;
        list-style: none;
        font-size: 13px;

        &:last-of-type {
          border-bottom: none;
        }

        a,
        .coming_soon {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          padding: 19px 20px 17px;
          position: relative;

          @media screen and (max-width: $mq-mobile-max) {
            padding: 20px 0;
          }

          .coming_text {
            background-color: $alabaster;
            display: none;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            left: 20px;
            top: 0;
            height: 100%;
            padding-top: 6px;
            font-family: $futura;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            line-height: 1;
            text-transform: uppercase;
            width: 25%;
            z-index: 2;
          }

          .name {
            padding-right: 20px;
            text-transform: uppercase;
            width: 33.33%;

            @media screen and (max-width: $mq-mobile-max) {
              width: calc(100% - 40px);
            }
          }

          .date {
            @extend .courier_label;
            display: flex;
            justify-content: space-between;
            width: 33.33%;
            @media screen and (max-width: $mq-mobile-max) {
              justify-content: flex-end;
              padding: {
                right: $gutter_mobile;
              }
            }
          }
          @media screen and (max-width: $mq-mobile-max) {
            padding: {
              left: $gutter_mobile;
            }
          }
        }

        .coming_soon {
          cursor: not-allowed;

          &:hover {
            .coming_text {
              display: flex;

              @media screen and (max-width: $mq-mobile-max) {
                width: 65%;
              }
            }
          }
        }

        .tags {
          width: 33.33%;
          @media screen and (max-width: $mq-mobile-max) {
            display: none;
          }
        }

        a {
          .view_project {
            font-family: $untitled_sans;
            font-size: 13px;
            display: none;
          }
          &:hover {
            text-decoration: nonegit;

            .view_project {
              display: block;

              @media screen and (max-width: $mq-mobile-max) {
                display: none;
              }
            }
          }
        }
      }

      .no_items {
        padding: 19px 20px 17px;
      }
    }
  }
}

.main.grid {
  padding: 450px $navGutter_desktop 20px;

  @media screen and (max-width: $mq-mobile-min) {
    padding: 340px $gutter_mobile 20px;
  }

  @media screen and (min-width: $mq-mobile-min) and (max-width: $mq-mobile-max) {
    padding: 370px $gutter_mobile 20px;
  }

  .all_archives_grid {
    .grid_item {
      margin: 0;
      padding: {
        bottom: 25px;
      }

      @media screen and (max-width: $mq-mobile-max) {
        padding: {
          bottom: 20px;
        }
      }

      .coming_soon {
        cursor: not-allowed;

        &:hover {
          opacity: 0.8;
        }
      }

      a {
        display: block;
        margin: 0;
        padding: 0;
      }
    }

    img {
      margin: 0;
      width: 100%;
      height: auto;
    }
  }
}

.footer {
  background-color: $alabaster;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 90px $navGutter_desktop 16px $navGutter_desktop;

  @media screen and (max-width: $mq-mobile-max) {
    padding: 75px $navGutter_desktop 16px $navGutter_desktop;
  }

  .copyright {
  }

  .links {
    a {
      margin-left: 20px;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  img {
    max-width: 100%;
  }

  @media screen and (max-width: $mq-mobile-max) {
    .copyright {
      margin-bottom: 10px;
    }
    .links {
      margin-left: 0;
      width: 100%;
    }
  }
}

.filter_bar {
  background-color: $alabaster;
  border-bottom: 1px solid $black;
  display: flex;
  left: 0;
  padding: 19px $navGutter_desktop 17px;
  position: fixed;
  top: 56px;
  width: 100%;
  z-index: 3;

  @media screen and (max-width: $mq-mobile-max) {
    padding: 20px $navGutter_mobile 14px;
  }

  .label {
    button {
      background-color: transparent;
      border: none;
      display: inline;
      cursor: pointer;
      line-height: 2;
      margin: 0;
      padding: 0;
      text-align: left;

      &:active {
        color: $black;
      }

      &:hover {
        text-decoration: underline;
      }
    }
    .open {
      svg {
        transform: rotate(180deg);
      }
    }

    svg {
      display: inline-block;
      position: relative;
      top: -2px;
    }
  }

  .controls {
    margin-left: auto;

    &.controls_open {
      @media screen and (max-width: $mq-mobile-max) {
        display: none;
      }
    }

    button {
      @extend .untitled_caps;
      background-color: transparent;
      border: none;
      cursor: pointer;
      line-height: 2;
      margin: 0 0 0 25px;
      padding: 0;

      &:active {
        color: $black;
      }

      &:first-of-type {
        margin-left: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
