@import "./colors";
@import "./helpers";
@import "./typography";

.loader_section,
.loader_section_mobile {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.loader_section {
  display: none;

  .left_side,
  .right_side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    position: relative;

    .image_array {
      height: 100%;
      position: absolute;
      width: 100%;
      padding: 0;
      margin: 0;
      z-index: 1;
      list-style: none;

      li {
        color: $white;
        font-size: 50px;
        height: 100%;
        width: 100%;
        position: absolute;
        margin: 0;
        padding: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        opacity: 0;

        &.current {
          // display: block;
        }
      }
    }

    p {
      color: $white;
      font-size: 34px;
      margin: 0;
      padding: 0;
      position: relative;
      letter-spacing: -0.02em;
      text-align: center;
      z-index: 2;

      span {
        display: block;
      }
    }
  }

  @media screen and (min-width: $mq-tablet-min) {
    display: flex;
  }
}

.loader_section_mobile {
  display: none;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $mq-mobile-max) {
    display: flex;
  }

  .image_array {
    height: 100%;
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
    list-style: none;

    li {
      color: $white;
      font-size: 50px;
      height: 100%;
      width: 100%;
      position: absolute;
      margin: 0;
      padding: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;
      opacity: 0;

      &.current {
        // display: block;
      }
    }
  }

  p {
    color: $white;
    font-size: 29px;
    margin: 0;
    padding: 0 30px;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 1.24;
    text-align: center;
    z-index: 2;

    span {
      display: block;
      margin-bottom: 80px;

      em {
        display: block;
        font-style: normal;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .return_link {
    color: $white;
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 25px;
    left: 0;
    z-index: 3;
  }
}
