// @import "./colors";
// @import "./helpers";
@import "./typography";

.slider_container {
  cursor: none;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .video_container {
    display: none;
    position: relative;

    video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      // object-fit: contain;
    }
  }

  .slide_control {
    display: block;
    display: none;
    outline: none;
    border: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 2;

    &.prev {
      background-color: rgba(lightblue, 0.5);
      left: 0;
    }
    &.next {
      background-color: rgba(lightcoral, 0.5);
      right: 0;
    }
  }
}
