@import "./colors";
@import "./typography";

.footer {
  background-color: $alabaster;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: $navGutter_desktop;

  @media screen and (max-width: $mq-mobile-max) {
    padding: 75px $navGutter_desktop 16px $navGutter_desktop;
  }

  .contact {
    span {
      display: block;
      margin-bottom: 15px;

      &.company {
        text-transform: uppercase;
      }

      // &.address {
      //   margin-bottom: 15px;
      // }
    }
  }

  .links {
    .copyright {
      display: inline-block;
      margin-right: 20px;
    }
    a {
      margin-left: 20px;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  img {
    max-width: 100%;
  }

  @media screen and (max-width: $mq-mobile-max) {
    .copyright {
      margin-bottom: 10px;
    }
    .links {
      margin-left: 0;
      width: 100%;
    }
  }
}
