@import "./reset";
@import "./colors";
@import "./typography";

html,
body {
  background-color: $alabaster;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: $untitled_sans, Arial, Helvetica, sans-serif;
}

body {
  @extend .body_text;
}

a,
button {
  color: $black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}

/* Set Up Masonry Grid for Index */
.my-masonry-grid {
  display: flex;
  margin-left: -#{$navGutter_desktop}; /* gutter size offset */
  width: auto;

  @media screen and (max-width: $mq-mobile-max) {
    margin-left: -20px; /* gutter size offset */
  }
}
.my-masonry-grid_column {
  padding-left: $navGutter_desktop; /* gutter size */
  background-clip: padding-box;

  @media screen and (max-width: $mq-mobile-max) {
    padding-left: 20px; /* gutter size */
  }
}

.item_page {
  overflow: auto;
  // height: 100%;
}
