@import "./reset";
@import "./colors";
@import "./typography";
@import "./helpers";

/* Plugins */
@import "./slick.scss";
// @import "./slick_theme.scss";

html,
body {
  background-color: $white;
  padding: 0;
  margin: 0;
  // overflow: hidden;
}

body {
  @extend .body_text;
  overflow-x: hidden;

  &.case_study {
    @media screen and (max-width: $mq-mobile-max) {
      overflow: hidden;

      @supports (-webkit-touch-callout: none) {
        height: -webkit-fill-available;
        overflow: hidden;
      }
    }
  }

  &.noscroll {
    overflow: hidden;
  }
}

a,
button {
  @extend .body_text;
  color: $black;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;

  &:active {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}

/* Set Up Masonry Grid for Index */
.my-masonry-grid {
  display: flex;
  margin-left: -#{$navGutter_desktop}; /* gutter size offset */
  width: auto;

  @media screen and (max-width: $mq-mobile-max) {
    margin-left: -20px; /* gutter size offset */
  }
}
.my-masonry-grid_column {
  padding-left: $navGutter_desktop; /* gutter size */
  background-clip: padding-box;

  @media screen and (max-width: $mq-mobile-max) {
    padding-left: 20px; /* gutter size */
  }
}
