@import "./colors";
@import "./helpers";
@import "./typography";

.container {
  a,
  button {
    color: $black;
  }

  @media (hover: none) {
    padding-bottom: 150px;
  }
}

.main {
  padding: 90px 0 130px;
  position: relative;

  .divider {
    background-color: $platinum;
    display: block;
    position: fixed;
    left: calc(50% - 1px);
    top: 0;
    height: 100%;
    width: 1px;
    z-index: 0;

    @media screen and (max-width: $mq-mobile-max) {
      display: none;
    }
  }

  section.double_image {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &.default {
      margin-bottom: 120px;
    }

    &.half {
      margin-bottom: 60px;
    }

    &.extra {
      margin-bottom: 240px;
    }

    .left_side,
    .right_side {
      width: 50%;

      @media screen and (max-width: $mq-mobile-max) {
        width: 100%;
      }
    }

    .left_side.gutters {
      padding: 0 $gutter_desktop;

      @media screen and (max-width: $mq-mobile-max) {
        padding: 0 $gutter_mobile;
      }
    }

    .right_side.gutters {
      padding: 0 $gutter_desktop;

      @media screen and (max-width: $mq-mobile-max) {
        padding: 0 $gutter_mobile;
      }
    }
  }

  section.single_image {
    figure {
      padding: 0 #{$gutter_desktop * 2};

      @media screen and (max-width: $mq-mobile-max) {
        padding: 0 $gutter_mobile;
      }

      &.full_bleed {
        padding: 0;
      }
    }
  }
}
