@import "./colors";
@import "./helpers";
@import "./typography";

.container {
  padding-top: 55px;
}

.title_holder {
  display: block;
  position: fixed;
  top: 185px;
  width: 100%;
  left: 0;
  z-index: 1;
}

.title {
  width: 385px;
  max-width: 100%;
  margin: 0 auto 70px;
  text-align: center;

  @media screen and (max-width: $mq-mobile-min) {
    width: 235px;
  }

  @media screen and (min-width: $mq-mobile-min) and (max-width: $mq-mobile-max) {
    width: 285px;
  }

  svg {
    width: 100%;
  }
}

.main {
  background-color: $alabaster;
  padding: 0 $gutter_desktop 20px;
  margin-top: 450px;
  position: relative;
  z-index: 2;

  @media screen and (max-width: $mq-mobile-min) {
    margin-top: 340px;
    padding: 0 $gutter_mobile 20px;
  }

  @media screen and (min-width: $mq-mobile-min) and (max-width: $mq-mobile-max) {
    margin-top: 370px;
    padding: 0 $gutter_mobile 20px;
  }

  .all_archives {
    ul {
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
      margin: 0;
      padding: 0;

      li {
        border-bottom: 1px solid $black;
        list-style: none;

        &:last-of-type {
          border-bottom: none;
        }

        a,
        .coming_soon {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 19px 20px 17px;

          @media screen and (max-width: $mq-mobile-max) {
            padding: 20px 0;
          }

          .name {
            padding-right: 20px;
            text-transform: uppercase;
            width: 40%;

            @media screen and (max-width: $mq-mobile-max) {
              width: calc(100% - 40px);
            }
          }

          .date {
            @extend .courier_label;
            margin-left: auto;
          }
        }

        .coming_soon {
          cursor: not-allowed;

          .name {
            span:last-of-type {
              display: none;
            }
          }

          &:hover {
            .name {
              span:first-of-type {
                display: none;
              }
              span:last-of-type {
                display: inline;
              }
            }
          }
        }

        .tags {
          @media screen and (max-width: $mq-mobile-max) {
            display: none;
          }
        }
      }

      .no_items {
        padding: 19px 20px 17px;
      }
    }
  }
}

.main.grid {
  padding: 0 $navGutter_desktop 20px;

  @media screen and (max-width: $mq-mobile-max) {
    padding: 0 $gutter_mobile 20px;
  }

  .all_archives_grid {
    .grid_item {
      padding: {
        bottom: 60px;
      }

      @media screen and (max-width: $mq-mobile-max) {
        padding: {
          bottom: 20px;
        }
      }

      .coming_soon {
        cursor: not-allowed;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.footer {
  img {
    max-width: 100%;
  }
}

.filter_bar {
  background-color: $alabaster;
  border-bottom: 1px solid $black;
  display: flex;
  left: 0;
  padding: 19px $navGutter_desktop 17px;
  position: fixed;
  top: 56px;
  width: 100%;
  z-index: 3;

  @media screen and (max-width: $mq-mobile-max) {
    padding: 20px $navGutter_mobile 14px;
  }

  .label {
    button {
      background-color: transparent;
      border: none;
      display: inline;
      cursor: pointer;
      line-height: 2;
      margin: 0;
      padding: 0;
      text-align: left;

      &:active {
        color: $black;
      }

      &:hover {
        text-decoration: underline;
      }
    }
    .open {
      svg {
        transform: rotate(180deg);
      }
    }

    svg {
      display: inline-block;
      position: relative;
      top: -2px;
    }
  }

  .tag_list {
    display: none;
    column-count: 3;
    column-gap: 50px;
    column-width: 33.3333333333%;
    margin: 0 0 0 45px;
    padding: 0;
    list-style: none;
    width: 28%;

    @media screen and (max-width: $mq-mobile-max) {
      column-count: 2;
      column-gap: 0px;
      margin: 0 0 0 30px;
      width: 55%;
    }

    &.tag_list_open {
      display: block;
    }

    li {
      display: block;

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        line-height: 2;
        padding: 0;
        text-align: left;

        &:active {
          color: $black;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .controls {
    margin-left: auto;

    &.controls_open {
      @media screen and (max-width: $mq-mobile-max) {
        display: none;
      }
    }

    button {
      @extend .untitled_caps;
      background-color: transparent;
      border: none;
      cursor: pointer;
      line-height: 2;
      margin: 0 0 0 25px;
      padding: 0;

      &:active {
        color: $black;
      }

      &:first-of-type {
        margin-left: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
