@import "./colors";
@import "./helpers";
@import "./typography";

.container {
  padding: 55px 0 0;
  overflow-y: scroll;
  height: 100vh;

  @media (hover: none) {
    padding-bottom: 130px;
  }
}

.title_holder {
  display: block;
  position: fixed;
  top: 185px;
  width: 100%;
  left: 0;
  z-index: 1;
}

.title {
  width: 385px;
  max-width: 100%;
  margin: 0 auto 70px;
  text-align: center;

  @media screen and (max-width: $mq-mobile-min) {
    width: 235px;
  }

  @media screen and (min-width: $mq-mobile-min) and (max-width: $mq-mobile-max) {
    width: 285px;
  }

  svg {
    width: 100%;
  }
}

.main {
  padding: 450px $gutter_desktop 0;
  position: relative;
  z-index: 2;

  @media screen and (max-width: $mq-mobile-min) {
    padding: 340px $gutter_mobile 0;
  }

  @media screen and (min-width: $mq-mobile-min) and (max-width: $mq-mobile-max) {
    padding: 370px $gutter_mobile 0;
  }

  .interior {
    background-color: $alabaster;
    padding-bottom: 40px;

    @media screen and (max-width: $mq-mobile-min) {
      padding-bottom: 20px;
    }

    @media screen and (min-width: $mq-mobile-min) and (max-width: $mq-mobile-max) {
      padding-bottom: 20px;
    }
  }

  .all_archives {
    ul {
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
      margin: 0;
      padding: 0;

      li {
        border-bottom: 1px solid $black;
        list-style: none;

        &:last-of-type {
          border-bottom: none;
        }

        a,
        .coming_soon {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          padding: 19px 20px 17px;
          position: relative;

          @media screen and (max-width: $mq-mobile-max) {
            padding: 20px 0;
          }

          .coming_text {
            background-color: $alabaster;
            display: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            padding-top: 6px;
            font-family: $futura;
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            line-height: 1;
            text-transform: uppercase;
            width: 100%;
            z-index: 2;
          }

          .name {
            padding-right: 20px;
            text-transform: uppercase;
            width: 40%;

            @media screen and (max-width: $mq-mobile-max) {
              width: calc(100% - 40px);
            }
          }

          .date {
            @extend .courier_label;
            margin-left: auto;
          }
        }

        .coming_soon {
          cursor: not-allowed;

          &:hover {
            .coming_text {
              display: flex;
            }
          }
        }

        .tags {
          @media screen and (max-width: $mq-mobile-max) {
            display: none;
          }
        }
      }

      .no_items {
        padding: 19px 20px 17px;
      }
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    .pagination_list {
      margin: 0;

      li {
        display: inline-block;
        cursor: pointer;
        margin: 0 10px;
        text-transform: uppercase;
      }
    }
    .active {
      text-decoration: underline;
    }
  }
}

.main.grid {
  padding: 450px $navGutter_desktop 20px;

  @media screen and (max-width: $mq-mobile-min) {
    padding: 340px $gutter_mobile 20px;
  }

  @media screen and (min-width: $mq-mobile-min) and (max-width: $mq-mobile-max) {
    padding: 370px $gutter_mobile 20px;
  }

  .all_archives_grid {
    .grid_item {
      margin: 0;
      padding: {
        bottom: 25px;
      }

      @media screen and (max-width: $mq-mobile-max) {
        padding: {
          bottom: 20px;
        }
      }

      .coming_soon {
        cursor: not-allowed;

        &:hover {
          opacity: 0.8;
        }
      }

      a {
        display: block;
        margin: 0;
        padding: 0;
      }
    }

    img {
      margin: 0;
      width: 100%;
      height: auto;
    }
  }
}

.footer {
  background-color: $alabaster;
  img {
    max-width: 100%;
  }
}

.filter_bar {
  background-color: $alabaster;
  border-bottom: 1px solid $black;
  display: flex;
  left: 0;
  padding: 19px $navGutter_desktop 17px;
  position: fixed;
  top: 56px;
  width: 100%;
  z-index: 3;

  @media screen and (max-width: $mq-mobile-max) {
    padding: 20px $navGutter_mobile 14px;
  }

  .label {
    button {
      background-color: transparent;
      border: none;
      display: inline;
      cursor: pointer;
      line-height: 2;
      margin: 0;
      padding: 0;
      text-align: left;

      &:active {
        color: $black;
      }

      &:hover {
        text-decoration: underline;
      }
    }
    .open {
      svg {
        transform: rotate(180deg);
      }
    }

    svg {
      display: inline-block;
      position: relative;
      top: -2px;
    }
  }

  .tag_list {
    display: none;
    column-count: 3;
    column-gap: 0;
    column-width: 33.3333333333%;
    margin: 0 0 0 45px;
    padding: 0;
    list-style: none;
    width: 33%;
    max-width: 350px;

    @media screen and (max-width: $mq-mobile-max) {
      column-count: 2;
      column-gap: 0px;
      margin: 0 0 0 30px;
      width: 55%;
    }

    &.tag_list_open {
      display: block;
    }

    li {
      display: block;

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        line-height: 2;
        padding: 0;
        text-align: left;

        &:active {
          color: $black;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .controls {
    margin-left: auto;

    &.controls_open {
      @media screen and (max-width: $mq-mobile-max) {
        display: none;
      }
    }

    button {
      @extend .untitled_caps;
      background-color: transparent;
      border: none;
      cursor: pointer;
      line-height: 2;
      margin: 0 0 0 25px;
      padding: 0;

      &:active {
        color: $black;
      }

      &:first-of-type {
        margin-left: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
