@import "./colors";
@import "./typography";
@import "./helpers";

.container {
  height: -webkit-fill-available;
  min-height: 100vh;

  .mobile_close {
    display: none;

    @media screen and (max-width: $mq-mobile-max) {
      display: block;
      position: fixed;
      right: $navGutter_mobile;
      top: 20px;
      z-index: 5;
    }
  }

  .main {
    height: 100vh;
    z-index: 0;

    .casestudy_container {
      padding: 0;
      position: relative;

      .case_study_intro {
        padding: 0 #{$gutter_desktop * 2};

        .title_image {
          display: flex;
          height: 100vh;
          align-items: center;
        }

        .support_image {
          transform: translateY(-20%);
        }
      }
    }

    .inner {
      height: 100vh;
      position: relative;
    }

    @media screen and (max-width: $mq-mobile-max) {
      height: calc(100vh - 61px);
    }
  }

  .archive {
    position: absolute;
    left: $navGutter_desktop;
    top: 50%;
    z-index: 10;

    @media screen and (max-width: $mq-mobile-max) {
      top: 20px;
      left: $gutter_mobile;
    }
  }

  .info {
    position: absolute;
    right: $navGutter_desktop;
    top: 50%;
    z-index: 10;

    :first-child {
      padding-right: 40px;
    }

    a {
      &:hover {
        cursor: pointer;
      }
    }

    .current_image {
      text-align: left;
    }

    @media screen and (max-width: $mq-mobile-max) {
      position: absolute;
      top: auto;
      bottom: 20px;
      left: $gutter_mobile;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-start;

      .current_image {
        position: absolute;
        bottom: 0px;
        left: 50%;
      }
    }
  }

  .project_footer {
    background-color: $alabaster;
    border-top: 1px solid $platinum;
    display: flex;
    align-items: flex-start;
    padding: {
      top: 22px;
      bottom: 20px;
      left: $navGutter_desktop;
      right: $navGutter_desktop;
    }
    width: 100%;
    z-index: 2;

    @media screen and (max-width: $mq-mobile-max) {
      flex-direction: column;
      justify-content: space-between;
      padding: {
        top: 20px;
        bottom: 18px;
        left: $gutter_mobile;
        right: $gutter_mobile;
      }
    }

    &.multi_item {
      @extend .body_text;
      // text-align: right;
      // margin-left: auto;

      .close_col,
      .multi_col {
        width: $gutter_desktop;
      }

      .title_and_description {
        width: 50%;

        .title {
          @extend .body_text;
          text-transform: uppercase;
        }

        @media screen and (max-width: $mq-mobile-max) {
          padding-left: 0;
          padding-bottom: 50px;
          width: 100%;

          .title {
            width: 100%;
          }
        }
      }

      .credits_and_download {
        display: flex;
        justify-content: space-between;
        width: 50%;
        line-height: 18px;

        .credits {
          @extend .body_text;
          text-transform: uppercase;
          line-height: 18px;
          width: 50%;

          .credit {
            padding-bottom: 20px;
          }

          // a {
          //   text-decoration: underline;
          // }

          .name {
            text-transform: none;
          }

          @media screen and (max-width: $mq-mobile-max) {
            padding-left: 0;
          }
        }

        .download {
          width: 50%;
          text-align: right;
          @media screen and (max-width: $mq-mobile-max) {
            display: none;
          }
        }

        @media screen and (max-width: $mq-mobile-max) {
          width: 100%;
          .credits {
            width: 100%;
            padding-left: 0;
          }
        }
      }

      .tags {
        padding-left: 25px;

        @media screen and (max-width: $mq-mobile-max) {
          display: none;
        }
      }

      .date {
        @extend .courier_label;
        margin-left: auto;
      }

      @media screen and (max-width: $mq-mobile-max) {
        &.multi_item {
          .date {
            display: none;
          }
        }

        &.single_item {
          .multi_col {
            display: none;
          }
        }
      }
    }
  }

  .password_wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .password_field {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      margin: {
        left: $gutter_desktop;
        right: $gutter_desktop;
      }
      padding: {
        top: 20px;
        bottom: 20px;
      }

      .text_input {
        border: none;
        appearance: none;
        background: none;

        &:focus {
          outline: none;
        }
      }

      .password_button {
        border: none;
        background: none;
      }
    }
  }
}
