@import "./colors";
@import "./helpers";

.site_loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100vh;

  .inner_card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    background-color: $alabaster;

    @media screen and (max-width: $mq-mobile-max) {
      flex-direction: column;
    }

    .description,
    .logo {
      width: 50%;
      height: 100vh;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @media screen and (max-width: $mq-mobile-max) {
        height: 50vh;
        width: 100%;
        justify-content: center;
      }
    }

    .logo {
      padding-left: $gutter_desktop;

      @media screen and (max-width: $mq-mobile-max) {
        padding-left: 0;
        align-items: flex-end;
      }
    }

    .description {
      @media screen and (max-width: $mq-mobile-max) {
        align-items: flex-start;
      }
    }
  }
}
