@import "./colors";
@import "./helpers";

.navigation {
  background-color: $alabaster;
  border-bottom: 1px solid $black;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;

  &.nonav {
    display: none;
  }
}

.link_box {
  display: flex;
  justify-content: space-between;
  padding: 19px $navGutter_desktop 17px;
}

.info {
  .latest {
    color: $alert;
    margin-right: 5px;
  }
}
