@import "./colors";
@import "./helpers";
@import "./typography";

.container {
  padding: 0;

  a,
  button {
    color: $black;
  }

  @media screen and (max-width: $mq-mobile-max) {
    padding-bottom: 55px;
  }
}

// .mobile_profile_nav {
//   background-color: $alabaster;
//   border-bottom: 1px solid $black;
//   display: none;
//   padding: 10px $navGutter_mobile 9px;
//   position: fixed;
//   top: 50px;
//   width: 100%;
//   z-index: 2;

//   @media screen and (max-width: $mq-mobile-max) {
//     display: block;
//   }

//   button {
//     background-color: transparent;
//     border: none;
//     display: inline;
//     cursor: pointer;
//     line-height: 2;
//     margin: 0 15px 0 0;
//     padding: 0;
//     text-align: left;

//     &:active {
//       color: $black;
//     }

//     &.active,
//     &:hover {
//       text-decoration: underline;
//     }
//   }
// }

.main {
  padding-top: 49px;

  @media screen and (max-width: $mq-mobile-max) {
    padding-top: 180px;
  }

  ul {
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;
  }

  .info_bar {
    border-bottom: 1px solid $black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    .desktop {
    }

    .mobile_jump {
      display: none;
    }

    @media screen and (max-width: $mq-mobile-max) {
      background: rgba(250, 250, 250, 0.96);
      backdrop-filter: blur(5px);
      position: fixed;
      top: 49px;
      width: 100%;

      .desktop {
        display: none;
      }

      .mobile_jump {
        display: block;

        button {
          display: inline-block;
          margin-right: 15px;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }

  .grid {
    display: flex;
    height: calc(100vh - 99px);

    .column {
      border-right: 1px solid $black;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 45px $navGutter_desktop;
      width: 25%;

      /* ===== Scrollbar CSS ===== */
      /* Firefox */

      scrollbar-width: thin;
      scrollbar-color: $darkgray #ffffff;

      /* Chrome, Edge, and Safari */
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #ffffff;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $darkgray;
        border-radius: 10px;
        border: 3px solid #ffffff;
      }

      &:last-of-type {
        border-right: none;
      }

      p {
        margin-bottom: 20px;
      }

      li p {
        margin-bottom: 0;
      }

      &.about {
        .partner {
          margin-bottom: 20px;

          .name {
            display: block;
          }
        }

        &.mobile {
          display: none;
        }

        @media screen and (max-width: $mq-mobile-max) {
          &.mobile {
            display: block;
            padding: {
              left: 0;
              right: 0;
              bottom: 0;
            }

            border-bottom: none;
          }

          &.desktop {
            display: none;
          }
        }
      }

      &.contact {
        .contact_field {
          line-height: 1.5;

          span {
            display: inline-block;
            padding-right: 20px;
          }

          p {
            display: inline-block;
            margin-bottom: 0;
          }
        }
      }

      &.editions {
        p {
          margin-bottom: 20px;
        }

        a {
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    @media screen and (max-width: $mq-mobile-max) {
      display: block;
      height: auto;

      .column {
        // border-bottom: 1px solid $black;
        border-right: none;
        padding: 12px $navGutter_mobile 80px;
        width: 100%;
        position: relative;

        &:after {
          position: absolute;
          bottom: 0;
          content: "";
          left: $navGutter_mobile;
          width: calc(100% - #{$navGutter_mobile} * 2);
          height: 1px;
          background-color: $black;
        }

        &.about.mobile {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  .footer {
    position: fixed;
    bottom: 20px;
    left: 20px;

    a {
      display: inline-block;

      &:first-of-type {
        margin-right: 20px;
      }
    }

    @media screen and (max-width: $mq-mobile-max) {
      position: relative;
      width: 100%;
      bottom: auto;
      left: auto;
      padding: 12px $navGutter_mobile 0;
    }
  }
}
