@import "./colors";
@import "./helpers";
@import "./typography";

.container {
  padding: 0;

  a,
  button {
    color: $black;
  }

  @media screen and (max-width: $mq-mobile-max) {
    padding-bottom: 55px;
  }
}

.mobile_profile_nav {
  background-color: $alabaster;
  border-bottom: 1px solid $platinum;
  display: none;
  padding: 20px $navGutter_mobile 14px;
  position: fixed;
  top: 65px;
  width: 100%;
  z-index: 2;

  @media screen and (max-width: $mq-mobile-max) {
    display: block;
  }

  button {
    background-color: transparent;
    border: none;
    display: inline;
    cursor: pointer;
    line-height: 2;
    margin: 0 15px 0 0;
    padding: 0;
    text-align: left;

    &:active {
      color: $black;
    }

    &.active,
    &:hover {
      text-decoration: underline;
    }
  }
}

.main {
  display: flex;
  justify-content: space-between;
  padding: {
    bottom: 20px;
  }

  @media screen and (max-width: $mq-mobile-max) {
    padding: {
      top: 117px;
      left: $gutter_mobile;
      right: $gutter_mobile;
      bottom: 100px;
    }
  }

  ul {
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0;
  }

  .about {
    width: 50%;
    border-right: 1px solid $platinum;
    padding-top: 172px;
    padding-left: $navGutter_desktop;

    @media screen and (max-width: $mq-mobile-max) {
      width: 100%;
    }

    // @media screen and (min-width: $mq-tablet-min) and (max-width: $mq-desktop-max) {
    //   width: 45%;
    // }

    .summary {
      margin-bottom: 50px;
      width: 340px;

      h1 {
        margin-bottom: 45px;
      }

      p {
        margin-bottom: 25px;
      }

      .latest_info {
        &.update {
          @keyframes fadeIn {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }

          @keyframes colorFade {
            from {
              color: $alert;
            }
            to {
              color: $black;
            }
          }

          p {
            color: $alert;
            opacity: 0;
            animation: fadeIn 0.7s linear 0.5s forwards,
              colorFade 0.7s linear 2.2s forwards;
          }
        }
      }
    }

    h2 {
      margin-bottom: 5px;
    }

    .clients_collabs {
      margin-bottom: 60px;
    }

    .offerings {
      ul {
        margin-bottom: 30px;
      }
    }

    .gradient_bottom {
      position: absolute;
      width: 50%;
      height: 120px;
      bottom: 0;
      background: linear-gradient(
        180deg,
        rgba(250, 250, 250, 0.8) 0%,
        rgba(250, 250, 250, 0) 78.12%
      );
      transform: rotate(180deg);
    }

    .gradient_top {
      position: absolute;
      width: 50%;
      height: 120px;
      top: 0;
      background: linear-gradient(
        180deg,
        rgba(250, 250, 250, 0.8) 0%,
        rgba(250, 250, 250, 0) 78.12%
      );
    }
  }

  .contact_info {
    padding-left: $navGutter_desktop;
    padding-right: 25%;
    position: fixed;
    right: 0;
    top: 172px;
    width: 50%;

    @media screen and (max-width: $mq-mobile-max) {
      display: none;
      position: relative;
      right: auto;
      top: auto;
      width: 100%;

      h1 {
        margin-bottom: 45px;
      }
    }

    // @media screen and (min-width: $mq-tablet-min) and (max-width: $mq-desktop-max) {
    //   width: 35%;
    // }

    h3 {
      margin-bottom: 5px;
    }

    .contact_summary,
    .partner {
      margin-bottom: 30px;
      width: 340px;
    }

    .partner {
      span {
        display: block;
      }
    }

    .contact_details {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .phone,
      .address {
        width: 50%;
      }

      h4 {
        @extend .body_text;
      }

      @media screen and (min-width: $mq-tablet-min) and (max-width: 1015px) {
        .phone,
        .address {
          width: 100%;
        }

        .phone {
          margin-bottom: 15px;
          // width: 45%;
        }

        .address {
          // width: 55%;
        }
      }
    }
  }

  &.contact_page {
    .about {
      display: none;
    }

    .contact_info {
      display: block;
    }
  }
}
