@import "./colors";
@import "./helpers";
@import "./typography";

.project_viewer {
  height: 100%;
  width: 100%;

  .image_array {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 100%;
      padding: 60px #{$gutter_desktop * 2};
      width: 100%;

      &.hidden {
        display: none;
      }

      &.current {
        display: flex;
      }

      > div {
        height: 100%;
        position: relative;
        z-index: 2;
        width: 100%;
      }

      img {
        object-position: center center;
        object-fit: contain;
        max-height: 100%;
        max-width: 100%;
        position: relative;
        z-index: 1;
      }

      video {
        max-height: 100%;
        max-width: 100%;
      }

      .prev_btn,
      .next_btn {
        background: transparent;
        cursor: pointer;
        border: none;
        padding: 0;
        position: absolute;
        top: 0;
        height: 100%;
        width: 50%;
        z-index: 1;
      }
      .prev_btn {
        left: 0;
        cursor: w-resize;
      }

      .next_btn {
        right: 0;
        cursor: e-resize;
      }
    }
  }
}
