@import "./colors";
@import "./helpers";
@import "./typography";

.project_viewer {
  // background-color: lightblue;
  height: 100%;
  width: 100%;

  @media (hover: none) {
    height: calc(var(--app-height) - 61px);
  }

  .prev_btn,
  .next_btn {
    background: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: 1;
  }
  .prev_btn {
    left: 0;
    cursor: w-resize;
  }

  .next_btn {
    right: 0;
    cursor: e-resize;
  }

  .image_array {
    // background-color: lightpink;
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;

    li {
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;

      &.hidden {
        display: none;
      }

      &.current {
        display: block;
      }

      .image_container {
        // background-color: lightyellow;
        height: 100%;
        padding: 60px #{$gutter_desktop * 2};
        position: relative;
        text-align: center;
        width: 100%;
        z-index: 2;

        &.image_container_video {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        @media screen and (max-width: $mq-mobile-max) {
          padding: 50px $gutter_mobile;
        }

        > div {
          // background-color: lightcoral;
          position: unset !important;
          height: 100%;
          width: auto;
        }

        img {
          object-fit: contain;
          width: 100% !important;
          position: relative !important;
          height: unset !important;
          z-index: 2;

          &.multi {
            cursor: pointer;
          }
        }
      }

      video {
        max-height: 100%;
        max-width: 100%;
        position: relative;
        z-index: 2;
      }
    }
  }
}
