@import "./colors";
@import "./typography";
@import "./helpers";

.container {
  .main {
    height: calc(100vh - 67px);
    position: relative;
    z-index: 1;
  }

  .project_footer {
    background-color: $alabaster;
    border-top: 1px solid $black;
    display: flex;
    padding: {
      top: 22px;
      bottom: 20px;
      left: $navGutter_desktop;
      right: $navGutter_desktop;
    }
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    .close_col,
    .multi_col {
      width: $gutter_desktop;
    }

    .multi_col {
      @extend .courier_label;
      text-align: right;
    }

    .close_col {
      .close_btn {
      }
    }

    .title {
      @extend .body_text;
      padding-left: 25px;
      text-transform: uppercase;
    }

    .tags {
      padding-left: 25px;
    }

    .date {
      @extend .courier_label;
      margin-left: auto;
    }
  }
}
