@import "./colors";
@import "./helpers";
@import "./typography";

.project_viewer {
  // height: 100%;
  width: 100%;

  a,
  button {
    color: $black;
  }

  // @media (hover: none) {
  //   height: calc(var(--app-height) - 61px);
  // }

  .image_item {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    // width: 83.33333333% !important;

    figure {
      @include aspect-ratio(3, 2);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      // @extend %bgcover;
    }

    @media screen and (max-width: $mq-mobile-max) {
      padding-left: 10px;
      padding-right: 10px;

      figure {
        @include aspect-ratio(2, 3);
      }
    }
  }

  .slides_controls {
    display: flex;
    display: none;
    justify-content: space-between;
    margin-top: remify(10px);
    width: calc(76.9311065% - 55px);

    @media screen and (max-width: $mq-mobile-max) {
      width: 100%;
    }

    .controls {
      min-width: 82px;
      transform: translateY(-5px);

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        display: inline-block;
        height: 40px;
        padding: 0;

        &.next {
          padding-left: remify(5px);
        }

        &.previous {
          padding-right: remify(5px);
        }

        figure {
          svg {
            width: 100%;
          }
        }
      }

      @media screen and (max-width: $mq-mobile-max) {
        min-width: 65px;
        transform: translateY(-10px);
        width: 65px;

        button {
          width: 30px;
        }
      }
    }
  }
}
